<!DOCTYPE html>
<html lang="en">
<head>
<title>Montesume - Вход</title>
<meta charset="UTF-8">
<link rel="icon" type="image" href="static/images/Montesume.png">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="static/css/message.css">
<link rel = "stylesheet" href="static/css/normalize.css">
<link rel="stylesheet" href="static/css/enter.css">
<script>

class Response {
    constructor(method, credentials, headers, data, body, url) {
        this.method = method;
        this.credentials = credentials;
        this.headers = headers;
        this.url = url;
        this.data = data;
        this.body = body;
    }

    //функция для создания запроса на осуществление входа пользователя в аккаунт
    async OnEnter() {
        let response = await fetch(this.url, { method: this.method, headers: this.headers,body: this.body});
        let result = await response.json();
        if (result["result"] == "gotolk") {
            window.location.href = '/lk';
        } else if (result["result"] == 'notfound') {
            document.getElementById('message_text').innerHTML = 'Вы ввели неправильный email или пароль! Повторите попытку!';
            document.getElementById('message').style['background-color'] = '#F86368';
        } else if (result["result"] == 'notallowed') {
            document.getElementById('message_text').innerHTML = 'Нельзя оставлять поля пустыми! Повторите попытку!';
            document.getElementById('message').style['background-color'] = '#F86368';
        }
        else {
            if (document.getElementById("rememberme_checkbox").checked == true) {
                var cookie_date = new Date();
                cookie_date.setMonth(cookie_date.getMonth() + 1);
                document.cookie = "montesume_access_token="+result["result"]['access_token'];
                document.cookie = "montesume_refresh_token="+result["result"]['refresh_token'] +"; expires=" + cookie_date.toUTCString();
            } else {
                document.cookie = "montesume_access_token="+result["result"]['access_token'];
                document.cookie = "montesume_refresh_token="+result["result"]['refresh_token'];
            }
            const resp = new Response('GET', 'include', {}, {}, null, 'http://b92599ho.beget.tech/lk');
            resp.lk(get_cookie("montesume_access_token"));
        } 
    }

    //функция для создания запроса на отображение информации профиля в личном кабинете
    async lk(result) {
        this.headers = {'Authorization': 'Bearer ' + result };
        fetch(this.url, {
          method: this.method,
          credentials: this.credentials,
          headers: this.headers
        })
        .then(res => {
            return res.text();
        })
        window.location.href = '/lk';
    }

    //функция для создания запроса на получение информации профиля пользователя
    async UserInfo() {
        let response = await fetch(this.url, { method: this.method, headers: this.headers,body: this.body});
        let result = await response.json();
        if (result != "plsenter") window.location.href = '/lk';
    }
}

async function resp() {
    let data = {
        "access_token": get_cookie("montesume_access_token"),
        "refresh_token": get_cookie("montesume_refresh_token")
    };
    const resp = new Response('POST', '', {'Content-Type': 'application/json;charset=utf-8'}, data, JSON.stringify(data), '/info-lk');
    resp.UserInfo();
}
resp();

//функция для получения куки по имени
function get_cookie(cookie_name) {
    var results = document.cookie.match ( '(^|;) ?' + cookie_name + '=([^;]*)(;|$)' );
    if (results) return ( unescape ( results[2] ) );
    else return null;
}

function CreateResponse() {
    let data = {
        "email": document.getElementById("emailID").value,
        "password": document.getElementById("passId").value
    };
    const resp = new Response('POST', '', {'Content-Type': 'application/json;charset=utf-8'}, data, JSON.stringify(data), '/enter');
    resp.OnEnter();
}

let isEyed = 0;
//функция для для смены иконки глазика при показе пароля
function passEye() {
    isEyed = !isEyed;
    if (isEyed == 0) {
        document.getElementById("showPass").innerHTML = '<i class="fas fa-eye-slash"></i>';
        document.getElementById("passId").type = 'text';
    }
    else {
        document.getElementById("showPass").innerHTML = '<i class="fas fa-eye"></i>';
        document.getElementById("passId").type = 'password';
    }
}
</script>
</head>
    <body>
        <header>
            <a href="http://b92599ho.beget.tech/" style = "display: flex; text-decoration: none; color: black;">
                <p><img class = "logo" src="static/images/Montesume.png" width="70" height="70" ></p>
                <div class="name"> <h1> Montesume </h1> </div>
            </a>
        </header>
        <div id = "message"><p id = "message_text"></p></div>
        
        <div class="signin-signup">
            <h3>Вход</h3>

            <div class="input-field" >
                <i class="fas fa-envelope"></i>
                <input class = "input" type="email" name="email" placeholder="Введите email" id="emailID">
            </div>

            <div class="input-field">
                <i class="fas fa-lock"></i>
                <input class = "input2" type="password" name="password" placeholder="Введите пароль" id = "passId">
                <button id="showPass" onclick="passEye()"><i class="fas fa-eye"></i></button>
            </div>
        </div>
        
        <div class = "checkbox_div">
            <label class="custom-checkbox">
                <input type="checkbox" id = "rememberme_checkbox">
                <span>Запомнить меня при входе</span>
            </label>
        </div>

        <button name="enter" class="btn enter"  onclick="CreateResponse()">Войти</button>
        <div style="text-align: center;" class = "passerecover_link" >Забыли пароль? <a href = "passwordrecover">Восстановить</a></div>
	    <div style="text-align: center;" class = "register_link" >Ещё нет аккаунта? <a href = "register">Зарегистрироваться</a></div>
    </body>
</html>
