<!DOCTYPE html>
<html lang = "ru">
<head>
	<meta charset="UTF-8">
	<title> IVR </title>
	<link rel="icon" type="image" href="https://code.s3.yandex.net/web-code/rules-favicon.ico">
	<link rel = "stylesheet" href="static/css/normalize.css">
	<link rel = "stylesheet" href="static/css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
	<script src="https://api-maps.yandex.ru/2.1/?apikey=6fd23210-854a-49be-89d6-ad43db62f1e3&lang=ru_RU" type="text/javascript">
    </script>
    <script type="text/javascript">
    </script>
    <meta charset="utf-8">
</head>
<body>
	<header>
		<p><a href="index.html"><img class = "logo" src="static/images/logo.png" border="0" ></a></p>
		<div class="name"> <h1> Поиск </h1> </div>
		<div class = "div_enter"> <a  class="enter" href="enter" > Вход </a> </div>		
	</header>
	
	<section class = "section_losung">
		<img class = "city" src = "static/images/city.jpg">
		<div class = "text_losung">
			<h1 class = "losung"> ПОИСК МЕСТА ДЛЯ БИЗНЕСА СТАЛ ПРОЩЕ </h1>
			<p class = "small_losung"> Находим конкурентов, определяем трафик, выявляем плотность населения </p>
		</div>
	</section>


	<section class = "section_steps">
		<h3 = class = "steps_name"> КАК НАЙТИ МЕСТО </h3>
		<div class = "steps">
			<div class = "step1"> 
				<img class = "people" src = "static/images/people.png">
				<div class = "step_name"> ШАГ 1 </div>
				<div class = "step_text"> Выбери алгоритм поиска </div>
			</div>

			<div class = "step2"> 
				<img class = "town" src = "static/images/town.png">
				<div class = "step_name"> ШАГ 2 </div>
				<div class = "step_text"> Выбери город и страну </div>
			</div>

			<div class = "step3"> 
				<img class = "money" src = "static/images/money.png">
				<div class = "step_name"> ШАГ 3 </div>
				<div class = "step_text"> Получи это заветное место </div> 
			</div>
		</div>

	<section class = "section_choose">
		<h3 = class = "chooses_name">ВЫБЕРИТЕ АЛГОРИТМ ПОИСКА</h3>
		<div class = "chooses">
			<div class = "choose1"> 
				<div class = "choose_name"> СПОСОБ 1 </div>
				<div class = "choose_text"> -- </div>
				<form action="sp1" target="_blank"> <button class="choose_button">Перейти</button> </form>
			</div>

			<div class = "choose2"> 
				<div class = "choose_name"> СПОСОБ 2 </div>
				<div class = "choose_text"> -- </div>
				<form action="sp2" target="_blank"> <button class="choose_button">Перейти</button> </form>
			</div>

			<div class = "choose3"> 
				<div class = "choose_name"> СПОСОБ 3 </div>
				<div class = "choose_text"> -- </div> 
				<form action="sp3" target="_blank"> <button class="choose_button">Перейти</button> </form>
			</div>
		</div>

	<section class = "section_futor">
		<div class = "futor">
			<div class = "futor_logo">
				<img class = "futor_logo_img" src="static/images/logo1.png">
				<h2 class = "futor_logo_text"> Поиск </h2> 
			</div>
			<div class = "futor_text">
				<a href = "#" class = "futor_link"> Как работает поиск </a> 
				<a href = "#" class = "futor_link"> О нас </a>
				<a href = "#" class = "futor_link"> Частые вопросы </a>
				<a href = "#" class = "futor_link"> Поддержать </a>
			</div>

			<div class = "futor_contact">
				<h4> Контактная информация </h4> 
				<h4> example@poisk.ru </h4>
				<h4> +7777777777 </h4>
			</div>

			<div class = "socials">
				<img class = "facebook" src = "static/images/facebook.png">
				<img class = "twitter" src = "static/images/twitter.png">
				<img class = "instagram" src = "static/images/instagram.png">
			</div>
		</div>
	</section>
</body>
</html>
