<!DOCTYPE html>
<html lang="en">
<head>
<title>Montesume - Способ III</title>
<link rel="icon" type="image" href="static/images/Montesume.png">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel = "stylesheet" href="static/css/normalize.css">
<link rel = "stylesheet" href="static/css/met3.css">
<link rel = "stylesheet" href="static/css/footer.css">
<link rel = "stylesheet" href="static/css/defaultSPs.css">
<script src="https://use.fontawesome.com/df966d76e1.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=6fd23210-854a-49be-89d6-ad43db62f1e3&lang=ru_RU" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src = "static/scripts/ao.js" > </script>
<script type="text/javascript">

class Response {
	constructor(method, credentials, headers, data, body, url) {
		this.method = method;
		this.credentials = credentials;
		this.headers = headers;
		this.url = url;
		this.data = data;
		this.body = body;
	}

	//функция для создания запроса на заполнение истории запросов
	async MakeHistoryRequest() {
        let response = await fetch(this.url, { method: this.method, headers: this.headers,body: this.body});
        let result = await response.json();
	    if (result['result'] == "saved") {
            document.getElementById('message_text').innerHTML = 'Успешно сохранено';
            document.getElementById('message').style['background-color'] = '#00C147';
        } else if (result['result'] == "plsenter") {
            document.getElementById('message_text').innerHTML = 'Войдите в аккаунт,чтобы сохранить!';
            document.getElementById('message').style['background-color'] = '#F86368';
        } else if (result['result'] == "samerequest") {
            document.getElementById('message_text').innerHTML = 'Ранее у Вас уже был такой запрос!';
            document.getElementById('message').style['background-color'] = '#F86368';
        }
    }

    //функция для создания запроса на отправку сообщений по футеру
    async SendMessage() {
        let response = await fetch(this.url, { method: this.method, headers: this.headers,body: this.body});
        let result = await response.json();
        if (result["result"] == "invname") {
            document.getElementById('message_text2').innerHTML = 'Ваше ФИО введено неправильно!';
            document.getElementById('message2').style['background-color'] = '#F86368';
		} else if (result["result"] == "invemail") {
            document.getElementById('message_text2').innerHTML = 'Ваш email введён неправильно!';
            document.getElementById('message2').style['background-color'] = '#F86368';
		} else if (result["result"] == "success") {
            document.getElementById('message_text2').innerHTML = 'Ваше сообщение успешно отправлено!';
            document.getElementById('message2').style['background-color'] = '#00C147';
          	document.getElementById('FBname').value = "";
			document.getElementById('FBemail').value = "";
			document.getElementById('FBtext').value = "";
		}
    }

    //функция для создания запроса на получение информации профиля пользователя
    async UserInfo() {
        let response = await fetch(this.url, { method: this.method, headers: this.headers,body: this.body});
        let result = await response.json();
        if (result == 'plsenter') {
            document.getElementById('name').innerHTML = "Вход";
            //создание popup'а
    		$(document).ready(function() {
    			$('#overlay').fadeIn(297, function(){
    			  $('#block_popup')
    			  .css('display', 'block')
    			  .animate({opacity: 1}, 198);
    			});
    		});       
        }
        else {
            setCookie('montesume_access_token', result['access_token']);
            document.getElementById('name').innerHTML = result['user_info']['name'];
            document.getElementById('name').href = "lk";
        }
    }
}

async function resp() {
    let data = {
        "access_token": get_cookie("montesume_access_token"),
        "refresh_token": get_cookie("montesume_refresh_token")
    };
    const resp = new Response('POST', '', {'Content-Type': 'application/json;charset=utf-8'}, data, JSON.stringify(data), '/info-lk');
    resp.UserInfo();
}
resp();

//функция для установки значения cookie по имени
function setCookie(name, value) {
    let updatedCookie = encodeURIComponent(name) + "=" + encodeURIComponent(value);
    document.cookie = updatedCookie;
}

//функция для получения куки по имени
function get_cookie(cookie_name) {
    var results = document.cookie.match ( '(^|;) ?' + cookie_name + '=([^;]*)(;|$)' );
    if (results) return ( unescape ( results[2] ) );
    else return null;
}

async function SendMessage() {
    if (document.getElementById('FBname').value == '' ||
    document.getElementById('FBemail').value == '' ||
    document.getElementById('FBtext').value == '') {
        document.getElementById('message_text2').innerHTML = 'Нельзя оставлять поля пустыми!';
        document.getElementById('message2').style['background-color'] = '#F86368';
    }
    else {
        let data = {
            "name": document.getElementById('FBname').value,
            "email": document.getElementById('FBemail').value,
            "text": document.getElementById('FBtext').value
        };
        const resp = new Response('POST', '', {'Content-Type': 'application/json;charset=utf-8'}, data, JSON.stringify(data), '/send-message');
        resp.SendMessage();
    }
}

var mas_yours = []; //массив с типами бизнеса, привлекающими трафик
var mas_conc = []; //масcив с типами бизнеса конкурентов
var mas_stopped_points_coords = []; //массив с координатами зафиксированных точек
var mas_stopped_points_addresses = []; //массив с адресами зафиксированных точек
var circ_radius = 0; //радиус круга
var mas_search_name = []; //массив со всеми типами бизнесов, введённых пользователями

async function CreateResponse() {
    if (mas_search_name.length == 0) {
        document.getElementById('message_text').innerHTML = 'Нельзя сохранять "пустой" запрос!';
        document.getElementById('message').style['background-color'] = '#F86368';
    } else {
        let data = {
        "access_token": get_cookie("montesume_access_token"),
        "refresh_token": get_cookie("montesume_refresh_token"),
        "md_number": 3,
        "your_business": mas_yours,
        "concurent_business": mas_conc,
        "radius": circ_radius,
        "stopped_points_adresses": mas_stopped_points_addresses,
        "stopped_points_coords": mas_stopped_points_coords,
        };
        const resp = new Response('POST', '', {'Content-Type': 'application/json;charset=utf-8'}, data, JSON.stringify(data), 'make-history-request');
        resp.MakeHistoryRequest();
    } 
}

var search_input = ""; //строка с введёнными пользователем типами бизнесов

function multi_input_your(){
	search_input_str = document.getElementById('input_yours').value; //считывание строки ввода
	flag_search = 0 //переменная для подтверждения, что не нашлось одинаковых обхектов
	flag_color = 0 //флаг для определения цвета (тип бизенеса конкурента/ваш тип бизнеса)
	var i = 0;
	var j = 0;
	var buf_search = ''; //текущее имя одного из объектов, разделённых запятыми
	search_input = []; //массив введённых через запятую объектов

	search_input_str = search_input_str.replace(/\s{2,}/g, ' '); //удаление лишних пробелов

	//цикл для отделения объектов поиска через запятую
	while ( i < search_input_str.length) {
		i = j+1;

		//находим символы до запятой, если не конец строки
		while ((j < search_input_str.length) && (search_input_str[j] != ',')) {
			buf_search += search_input_str[j];
			j += 1;
		}
		j += 1; //перескакиваем через запятую

		//кладём искомый объект, выделенный до запятой
		if (buf_search.length) {
			search_input.push(buf_search);
			buf_search = '';
		}

	}

	//цикл добавления поиска на карте с условием, что такого поиска не было ранее (чтобы не дублировать поиски)
	for (let k = 0; k < search_input.length; k++) {

		//условие нахождения, был ли такой поиск ранее
		for (let i = 0; i < mas_search_name.length; i++) {
			if (mas_search_name[i] == search_input[k].toLowerCase()){
				flag_search = 1;
			}
		}

		//если такого поиска ранее не было и поиск не пустой, добавляем его на карту
		if (flag_search == 0 && search_input[k] != ' ') {
			mas_search_name.push(search_input[k].toLowerCase()); //добавление нового названия объекта, чтобы исключить дубли
			mas_yours.push(search_input[k]);
			mas_search.push(add_search(flag_color));
			mas_flags.push(0);
			mas_search[mas_search.length - 1].search(search_input[k]).then(function () {}); //запуск нового добавленного пустого поиска по текущему заданному пользователем имени объекта
			loading_dots(); //выхов функции подгрузки новых текущих точек
		}
		flag_search = 0;
	}
}

function multi_input_concurent(){
	search_input_str = document.getElementById('input_concurent').value;
	flag_search = 0;
	flag_color = 1;
	var i = 0;
	var j = 0;
	var buf_search = '';
	search_input = [];

	search_input_str = search_input_str.replace(/\s{2,}/g, ' '); //удаление лишних пробелов

	while ( i < search_input_str.length) {
		i = j+1;

		while ((j < search_input_str.length) && (search_input_str[j] != ',')) {
			buf_search += search_input_str[j]
			j += 1;
		}
		j += 1;

		if (buf_search.length) {
			search_input.push(buf_search);
			buf_search = '';
		}
	}

	for (let k = 0; k < search_input.length; k++) {

		for (let i = 0; i < mas_search_name.length; i++) {
			if (mas_search_name[i] == search_input[k].toLowerCase()){
				flag_search = 1;
			}
		}

		if (flag_search == 0 && search_input[k] != ' ') {
			mas_search_name.push(search_input[k].toLowerCase());
			mas_conc.push(search_input[k]);
			mas_search.push(add_search(flag_color));
			mas_flags.push(1);
			mas_search[mas_search.length - 1].search(search_input[k]).then(function () {});
			loading_dots();
		}
		flag_search = 0;
	}
}

function multi_select_your(){
	search_input = document.getElementById('select_yours');
	flag_color = 0;
	flag_search = 0;
	var values = [];

	if (search_input.multiple) {
	    for (let i = 0; i < search_input.options.length; i ++) {
		    if (search_input.options[i].selected)
		       values.push(search_input.options[i].value);
	    }
	} else
		values.push(search_input.value);

	for (let k = 0; k < values.length; k++) {

		for (let i = 0; i < mas_search_name.length; i++) {
			if (mas_search_name[i] == values[k].toLowerCase()){
				flag_search = 1;
			}
		}
		if (flag_search == 0 && values[k] != '') {
			mas_search_name.push(values[k].toLowerCase());
			mas_yours.push(values[k]);
			mas_search.push(add_search(flag_color));
			mas_flags.push(0);
		    mas_search[mas_search.length - 1].search(values[k]).then(function () {});
		    loading_dots();
		}
		flag_search = 0;
	}
}

function multi_select_concurent(){
	search_input = document.getElementById('select_concurent');
    flag_color = 1;
	flag_search = 0;
	//в этот массив будем отбирать выбранные значения
	var values = [];

	//случай мульти-режима
	if (search_input.multiple) {
	  //перебираем массив опций
	  for (let i = 0; i < search_input.options.length; i ++) {
	    //если опция выбрана - добавим её в массив
	    if (search_input.options[i].selected)
	       values.push(search_input.options[i].value);
	  }
	//случай одиночного выбора в select
	} else
	  values.push(search_input.value);

	for (let k = 0; k < values.length; k++) {

		for (let i = 0; i < mas_search_name.length; i++) {
			if (mas_search_name[i] == values[k].toLowerCase()){
				flag_search = 1;
			}
		}

		if (flag_search == 0 && values[k] != '') {
			mas_search_name.push(values[k].toLowerCase());
			mas_conc.push(values[k]);
			mas_search.push(add_search(flag_color));
			mas_flags.push(1);
		    mas_search[mas_search.length - 1].search(values[k]).then(function () {});
		    loading_dots();
		}
		flag_search = 0;
	}
}

function checkKey(e) {
	//триггер нажатия клавиши enter
	if (event.keyCode === 13) {
        multi();
	}
}

//вызов всех функций multi
function multi() {
	multi_input_your();
	multi_select_your();
	multi_input_concurent();
    multi_select_concurent();
}

function add_search(flag_color) {

	//условие для проверки цвета (тип бизенеса конкурента/ваш тип бизнеса)
	if (flag_color == 0) {

		//создание объекта поиска вашего типа бизнеса
	    var searchControl = new ymaps.control.SearchControl({
	        options: {
	            provider: 'yandex#search',
	            geoObjectStandardPreset: 'islands#greenCircleDotIcon',
				position: {
					bottom: -100
				}
			}
	    });

    } else {

    	//создание объекта поиска конкурента
    	var searchControl = new ymaps.control.SearchControl({
	        options: {
	            provider: 'yandex#search',
	            geoObjectStandardPreset: 'islands#redCircleDotIcon',
				position: {
					bottom: -100
				}
	        }
	    });
    }

   	var myCollection = new ymaps.GeoObjectCollection({}, {}); //создание коллекции для геообъектов текущего поиска

   	mas_collections.push(myCollection); //добавление её в массив коллекций
    myMap.controls.add(searchControl); //добавление нового поиска на карту

    return searchControl; //возвращаем объект нового поиска
}

function delete_all() {
	//цикл, осуществляющий удаление всех обектов из коллекции (всех геообъектов карты)
	for (let i = 0; i < mas_collections.length; i++) {
		mas_collections[i].removeAll()
	}

	//цикл для очистки поисков с карты
	for (let i = 0; i < mas_search.length; i++) {
		myMap.controls.remove(mas_search[i])
	}

	CatchCollection.removeAll(); //удаление всех фиксированных благоприятных точек
	result_collection.removeAll(); //удаление всех фиксированных благоприятных точек

	//обнуление переменных
	mas_search_name = [];
	mas_yours = [];
	mas_conc = [];
	mas_stopped_points_addresses = [];
	mas_stopped_points_coords = [];
}

function delete_not_stopped () {
	//цикл, осуществляющий удаление всех обектов из коллекции (всех геообъектов карты)
	for (let i = 0; i < mas_collections.length; i++) {
		mas_collections[i].removeAll();
	}

	//цикл для очистки поисков с карты
	for (let i = 0; i < mas_search.length; i++) {
		myMap.controls.remove(mas_search[i]);
	}

	result_collection.removeAll(); //удаление всех фиксированных благоприятных точек

	//обнуление переменных
	mas_search_name = [];
	mas_yours = [];
	mas_conc = [];
}

function delete_stopped () {
	CatchCollection.removeAll(); //удаление всех фиксированных благоприятных точек
    mas_stopped_points_addresses = [];
	mas_stopped_points_coords = [];
}

/*функции array_compare и Find нужны для того, чтобы одинаковые
зафиксированные точки не ставились друг на друга*/
function array_compare(a, b) {
    if (a != null && b != null)
    {
        if(a.length != b.length)
           return false;
    
        for(i = 0; i < a.length; i++)
           if(a[i] != b[i])
              return false;
    
        return true;
    }
}

function Find(mas_where, mas_what) {
    if (mas_where.length != null) {
        for(let i = 0; i < mas_where.length; i++) {
            if (array_compare(mas_where[i], mas_what)) return true;
        }
        return false;
    }
    return false;
}

//функция для очисти всех объектов карты
function search_clear() {

	$('.overlay_clear, .block_popup_clear').fadeIn();

	$('.block_popup_clear span').click(function(){
   		$('.block_popup_clear, .overlay_clear').fadeOut();
 	})
}

//функция для фиксации благоприятной точки
function catch_point() {
    if(mas_yours.length != 0 && mas_conc.length != 0) {
        mas_result = [(result_points1[0] + result_points[0]) / 2, (result_points1[1] + result_points[1]) / 2];
        mas_catchcollection = [];

        //создание зафиксированной точки
        placemark = new ymaps.Placemark(mas_result, {
            iconContent: "Узнать адрес",
        }, {
            balloonPanelMaxMapArea: 0,
            preset: "islands#yellowStretchyIcon",
            openEmptyBalloon: true
        });

        //создание круга вокруг зафиксированной точки
        var myCircle_resultt = new ymaps.Circle([mas_result, radius], {}, {
            fillColor: '#FFD21E',
            opacity: 0.3
        });

        //функция прогрузки адреса зафиксированной точки
        ymaps.geocode(placemark.geometry.getCoordinates(), {
            results: 1
        }).then(function (res) {
            var newContent = res.geoObjects.get(0) ?
                res.geoObjects.get(0).properties.get('name') :
                'Не удалось определить адрес.';
            placemark.properties.set('balloonContent', newContent);
            if (mas_stopped_points_addresses.indexOf(newContent) == -1) {
                mas_stopped_points_addresses.push(newContent);
            }
        });

        if (!(Find(mas_stopped_points_coords, mas_result))) {
            //добавление фиксированных объектов в коллекцию
            if (mas_result.length != 0) mas_stopped_points_coords.push(mas_result);
            CatchCollection.add(placemark);
            CatchCollection.add(myCircle_resultt);

            myMap.geoObjects.add(CatchCollection); //добавление коллекции на карту
        }
    }
}

function loading_dots() {
	//цикл запусков постоянных прогрузок новых поисковых объектов
    for (let i = 0; i < mas_search.length; i++) {
        mas_search[i].events.add('load', function (e) {

        	radius = document.getElementById('input2').value;
        	circ_radius = radius;

            var geoObjectsArray = mas_search[i].getResultsArray();
           	mas_coords = [];

           	//формирование цветов
            if (mas_flags[i] == 0) {
	        	random_color = '#36FC36';
	        }
	        if (mas_flags[i] == 1){
	        	random_color = '#FC4F7A';
	        }
	        if (mas_flags[i] == 2) {
				random_color = '#2C2CFC';
    		}

    		//проверка наличия объектов
            if (geoObjectsArray.length) {

            	mas_collections[i].removeAll() //очистка коллекции от предыдущих поисков

            	//цикл для нахождения координат каждого объекта из текущего поиска и отрисовки вокруг них окружностей
                for (let j = 0; j < geoObjectsArray.length; j++) {
                    mas_coords.push(geoObjectsArray[j].geometry.getCoordinates()); //массив координат точек

                    //построение окружности вокруг точек
                    var myCircle = new ymaps.Circle([mas_coords[j], radius], {}, {
	                    fillColor: random_color,
	                    opacity: 0.2
	                });

                   	mas_collections[i].add(myCircle); //добавление окружности в коллекцию
                }
                myMap.geoObjects.add(mas_collections[i]); //добавление коллекции на карту

                //проверка значения цвета
                if (mas_flags[i] == 1) {
                	global_dots_mas_conc[i] = [];

                	//заполнение набора текущих координат новых точек
                	for(let k = 0; k < mas_coords.length; k++){
                    	global_dots_mas_conc[i].push(mas_coords[k]);
                	}
                	k_index = 0;

                	//проверка, чтобы поиск был последним
                	for(let k = 0; k < mas_flags.length;k++) {
                		if(mas_flags[k] == 1) {
                			k_index =k;
                		}
                	}

                	//если поиск последний
                    if (i == k_index) {
                        result_points = search_max_distance() //координаты итоговой наиболее удалённой от конкурентов точки

                        //создание итоговой наиболее удалённой от конкурентов точки
                        var myPlacemark_result = new ymaps.Placemark(result_points, {}, {
                            preset:'islands#orangeIcon'
                        });

                        //создание окружности вокруг итоговой точки
                        var myCircle_result = new ymaps.Circle([result_points, radius], {}, {
                            fillColor: '#FF931E',
                            opacity: 0.3
                        });
                    }

                    //добавление итоговых геообъектов в коллекцию
                    mas_collections[i].add(myPlacemark_result);
                    mas_collections[i].add(myCircle_result);

                    myMap.geoObjects.add(mas_collections[i]); //добавление коллекции на карту

                } else if (mas_flags[i] == 0) {
                	global_dots_mas_your[i] = [];
                	for(let k = 0; k < mas_coords.length; k++){
                    	global_dots_mas_your[i].push(mas_coords[k]);
                	}
                	k_index = 0;
                	for(let k = 0; k < mas_flags.length;k++) {
                		if(mas_flags[k] == 0) {
                			k_index =k;
                		}
                	}
                    if (i == k_index) {
                        result_points1 = search_min_distance();

                        //создание точки, максимально приближённой ко всем типам бизнеса, привлекающим трафик
                        var myPlacemark_result2 = new ymaps.Placemark(result_points1, {}, {
                            preset:'islands#blueIcon'
                        });

                        //создание окружности вокруг зафиксированной точки, описанной выше
                        var myCircle_result2 = new ymaps.Circle([result_points1, radius], {}, {
                                fillColor: '#1E98FF',
                                opacity: 0.3
                            });
                    }
                    //добавление на карту
                    mas_collections[i].add(myPlacemark_result2);
                    mas_collections[i].add(myCircle_result2);
                    
                    myMap.geoObjects.add(mas_collections[i]);
                }

                //проверка на дубликаты зафиксированной точки
                if(result_points1 && result_points && mas_yours.length != 0 && mas_conc.length != 0) {
                    result_collection.removeAll();
                	
                    myPlacemark_result3 = new ymaps.Placemark([(result_points1[0] + result_points[0]) / 2 , (result_points1[1] + result_points[1]) / 2], {
                        iconContent: "Узнать адрес",
                    }, {
                        balloonPanelMaxMapArea: 0,
                        preset: "islands#violetStretchyIcon",
                        openEmptyBalloon: true
                    });
                
                    //функция прогрузки адреса зафиксированной точки
                    myPlacemark_result3.properties.set('balloonContent', "Идет загрузка данных...");
            
                    ymaps.geocode(myPlacemark_result3.geometry.getCoordinates(), {
                        results: 1
                    }).then(function (res) {
                        var newContent = res.geoObjects.get(0) ?
                                res.geoObjects.get(0).properties.get('name') :
                                'Не удалось определить адрес.';
                        myPlacemark_result3.properties.set('balloonContent', newContent);
                    });

			        var myCircle_result3 = new ymaps.Circle([[(result_points1[0] + result_points[0]) / 2 , (result_points1[1] + result_points[1]) / 2], radius], {}, {
	                    fillColor: '#9A65F7',
	                    opacity: 0.3
	                });
	                result_collection.add(myPlacemark_result3);
	                result_collection.add(myCircle_result3);
	                myMap.geoObjects.add(result_collection);
            	}
            }
        })
    }
}

//функция для построения сетки (потенциальные благоприятные точки)
function map_setka(down_left, top_right, step) {
    height = top_right[1] - down_left[1]; //вычислекние высоты карты в текущей области
    width = top_right[0] - down_left[0]; //вычислекние ширины карты в текущей области
    a = 0; //шаг по ширине сетки
    b = 0; //шаг по высоте сетки

    var mas_coords_setka = []; //массив координат сетки

	//цикл для заполнения координатами массива mas_coords_setka (иницаиаизация сетки)
    for(let i = 0; i < step; i++) {
        mas_coords_setka.push([]);
        b = (height/step)*i;
        for(let j = 0; j < step; j++) {
            a = (width/step)*j;
            mas_coords_setka[i].push([down_left[0]+a, down_left[1]+b]);
        }
        a = 0;
    }

    return mas_coords_setka;
}

//функция для вычисления Евклидового расстояния между двумя точкми
function Evklid_distance(x1, x2, y1 , y2){
    r = Math.sqrt(Math.pow(x1-x2, 2) + Math.pow(y1-y2, 2));
    return r;
}

//функция для поиска минимального расстояния между текущей точки сетки и всеми точками найденных объектов на карте
function distance_coords(mas_dots_from_setka) {
    for(let i = 0; i < global_dots_mas_conc.length; i++) {
    	if(global_dots_mas_conc[i]) {
    		min_distance = Evklid_distance(mas_dots_from_setka[0], global_dots_mas_conc[i][0][0],mas_dots_from_setka[1], global_dots_mas_conc[i][0][1]); //вычисление минимального расстояния
    	}
    }

    //цикл для поиска минимального расстояния между текущей точки сетки и всеми точками найденных объектов на карте
    for(let i = 0; i < global_dots_mas_conc.length; i++) {
    	if(global_dots_mas_conc[i]) {
    		for( let j = 0; j < global_dots_mas_conc[i].length; j++) {
	            distance = Evklid_distance(mas_dots_from_setka[0], global_dots_mas_conc[i][j][0],mas_dots_from_setka[1], global_dots_mas_conc[i][j][1]);
	            if (distance < min_distance) {
	                min_distance = distance;
	            }
	        }
    	}
    }
    return min_distance;
}

function max_distance_coords(mas_dots_from_setka) {
    for(let i = 0; i < global_dots_mas_your.length; i++) {
    	if(global_dots_mas_your[i]) {
    		max_distance = Evklid_distance(mas_dots_from_setka[0], global_dots_mas_your[i][0][0],mas_dots_from_setka[1], global_dots_mas_your[i][0][1]); //вычисление максимального расстояния
    	}
    }

    //цикл для поиска максимального расстояния между текущей точки сетки и всеми точками найденных объектов на карте
    for(let i = 0; i < global_dots_mas_your.length; i++) {
    	if(global_dots_mas_your[i]) {
    		for( let j = 0; j < global_dots_mas_your[i].length; j++) {
	            distance = Evklid_distance(mas_dots_from_setka[0], global_dots_mas_your[i][j][0],mas_dots_from_setka[1], global_dots_mas_your[i][j][1]);
	            if (distance > max_distance) {
	                max_distance = distance;
	            }
	        }
    	}
    }
    return max_distance;
}

//функция для нахождения максимального среди минимальных расстояний от точек сетки до найденных объектов на карте
function search_max_distance() {
    delt = 1/10 * (myMap.getBounds()[1][0]-myMap.getBounds()[0][0])
    search_map_setka = map_setka([myMap.getBounds()[0][0]+delt, myMap.getBounds()[0][1]+delt], [myMap.getBounds()[1][0]-delt, myMap.getBounds()[1][1]-delt],50); //вычисление сетки для текущей области
    max_search_distance = distance_coords(search_map_setka[0][0]); //вычисление первого минимального расстояния с первой точкой на сетке
    result_dots = search_map_setka[0][0]; //итоговая точка

    //цикл для поиска максимума среди минимумов
    for(let i = 0; i < search_map_setka.length; i++) {
        for( let j = 0; j < search_map_setka[i].length; j++) {
            search_distance = distance_coords(search_map_setka[i][j]); //нахождение минимального расстояния для текущей точки сетки

            //поиск максимального расстояния среди минимальных
            if (search_distance > max_search_distance) {
                max_search_distance = search_distance;
                result_dots = search_map_setka[i][j];
            }
        }
    }
    return result_dots;
}

//функция для нахождения минимального среди максимальных расстояний от точек сетки до найденных объектов на карте
function search_min_distance() {
    delt = 1/10 * (myMap.getBounds()[1][0]-myMap.getBounds()[0][0])
    search_map_setka = map_setka([myMap.getBounds()[0][0]+delt, myMap.getBounds()[0][1]+delt], [myMap.getBounds()[1][0]-delt, myMap.getBounds()[1][1]-delt],50); //вычисление сетки для текущей области
    min_search_distance = max_distance_coords(search_map_setka[0][0]); //вычисление первого максимального расстояния с первой точкой на сетке
    result_dots = search_map_setka[0][0]; //итоговая точка

    //цикл для поиска минимума среди минимумов
    for(let i = 0; i < search_map_setka.length; i++) {
        for( let j = 0; j < search_map_setka[i].length; j++) {
            search_distance = max_distance_coords(search_map_setka[i][j]); //нахождение максимального расстояния для текущей точки сетки

            //поиск минимального расстояния среди максимальных
            if (search_distance < min_search_distance) {
                min_search_distance = search_distance;
                result_dots = search_map_setka[i][j];
            }
        }
    }
    return result_dots;
}

function init() {
    /*два массива для хранения координат точек: наиболее отдалённой от конкурентов,
    наиболее приближённой к благоприятным местам*/
	result_points = [];
	result_points1 = [];

    mas_search = []; //массив искомых объектов

    //два массива для хранения координат всех точек благоприятных мест и конкурентов
    global_dots_mas_conc = [];
    global_dots_mas_your = [];

    myMap = new ymaps.Map('map', {
        center: [55.74, 37.58],
        zoom: 10,
        controls: []
    });

    //массив с цветами округов
    mas_polygons_colors = ['#37FF58', '#06E61E', '#B9FF2C', '#FF622C', '#FF972C', '#FF852C', '#FFB52C', '#FFED2C','#FF352C', '#FF0000', '#FFD32C', '#E1FF2C'];
    //массив с координатами округов
    mas_coords = [return_coords(), return_coords_NM(), return_coords_ZG(), return_coords_YZ(), return_coords_YV(), return_coords_CE(), return_coords_SE(), return_coords_SEZ(), return_coords_SEV(), return_coords_YZH(), return_coords_V(), return_coords_Z()];
    mas_flags = []; //массив с цветами всех точек благоприятных мест и конкурентов
    mas_collections = []; //массив наборов объектов, отображаемых на карте
    mas_polygons = []; //массив со всеми полигонами
    //массив с balloon'ами округов
    mas_plt = ["Троицкий АО  ≈120 чел/км²", "Новомосковский АО  ≈761 чел/км²", "Зеленоградский АО  ≈6728 чел/км²", "Юго-Западный АО  ≈13004 чел/км²", "Юго-Восточный АО  ≈11657 чел/км²", "Центральный АО  ≈11841 чел/км²", "Северный АО  ≈11105 чел/км²", "Северо-Западный АО  ≈9466 чел/км²", "Северо-Восточный АО  ≈13150 чел/км²", "Южный АО  ≈14033 чел/км²", "Восточный АО  ≈9879 чел/км²", "Западный АО  ≈9131 чел/км²"];
    //создание коллекций для хранения геообъектов
    var myCollection = new ymaps.GeoObjectCollection({}, {});
    result_collection = new ymaps.GeoObjectCollection({}, {});
   	mas_collections.push(myCollection);
	CatchCollection = new ymaps.GeoObjectCollection({}, {});
	Okrugs_Collection = new ymaps.GeoObjectCollection({}, {});

	slider1 = document.getElementById("myRange");
	output1 = document.getElementById("demo");

	slider1.oninput = function() {
	 	output1.innerHTML = this.value;
	 	opacity = document.getElementById("myRange").value;
        for(let i = 0; i < mas_polygons.length; i++) {
            mas_polygons[i].options.set({ opacity: opacity });
        }
	}

	opacity = document.getElementById("myRange").value;
    slider_value = document.getElementById("myRange").value;

    //массив с построением округов
    for(let i = 0; i < points['features'].length; i++) {
        for(let j = 0; j < points['features'][i]['geometry']['coordinates'].length; j++) {
            if (points['features'][i]['geometry']['coordinates'].length == 1) {
                var myPolygon = new ymaps.Polygon(mas_coords[i], {}, {fillColor: mas_polygons_colors[i], opacity: 0.6, outline: true, strokeColor: '#000000', openEmptyHint: true});
            } else {
                var myPolygon = new ymaps.Polygon(mas_coords[i][j], {}, {fillColor: mas_polygons_colors[i], opacity: 0.6, outline: true, strokeColor: '#000000', openEmptyHint: true});    
            }
            myPolygon.properties.set('hintContent', mas_plt[i]);
            mas_polygons.push(myPolygon);
            Okrugs_Collection.add(myPolygon);
        }
    }
    myMap.geoObjects.add(Okrugs_Collection);
	}

//функция проверки ввода радиуса
function CheckRadius() {
    document.getElementById('input2').value = Number(String(document.getElementById('input2').value));
}

ymaps.ready(init);

</script>
<meta charset="utf-8">
</head>
    <body>
        <header>
            <a href="http://b92599ho.beget.tech/" style = "display: flex; text-decoration: none; color: black;">
                <p><img class = "logo" src="static/images/Montesume.png" width="70" height="70" ></p>
                <div class="name"> <h1> Montesume </h1> </div>
            </a>
            <div class = "div_enter"> <a id = "name" class="enter" href="enter" ></a> </div>
        </header>
        <div id = "message"><p id = "message_text"></p></div>
        
        <div id="block_popup">
            <h3 style = "text-align: center; margin-top: -0.5%;">Данный способ поиска доступен только зарегистрированным пользователям!</h3>
            <h3 style = "text-align: center; margin-top: -0.5%;">Зарегистрируйтесь или войдите, чтобы продолжить!</h3>
            <form action="register"> <button class="btn register_button">Зарегистрироваться</button> </form>
            <form action="enter"> <button class="btn enter_button">Войти</button> </form>
            <form action="/"> <button class="btn mainpage_button">Вернуться на главную страницу</button> </form>
        </div>
        <div id="overlay"></div>
        
        <div class = "spisok">
            <div class = "spk">
                <div class = "stroka1">
                    <div class = "select1">
                        <p>Бизнес привлекающий трафик: <i class="fa fa-info-circle"><span class="tooltiptext">Выбор нескольких позиций/Отмена Выбора:<br>Ctrl + Клик Левой Кнопки Мыши<br>Или<br>Shift + Клик Левой Кнопки Мыши</span></i></p>
                            <p><select class ="select_yours" id = "select_yours" size = "5" name="variants1" multiple >
                                <option>Торговый Центр</option>
                                <option>Кинотеатр</option>
                                <option>Ресторан</option>
                                <option>Салон связи</option>
                                <option>Магазин косметики</option>
                                <option>Продуктовый магазин</option>
                                <option>Аптека</option>
                                <option>Салон красоты</option>
                                <option>Банк</option>
                                <option>Театр</option>
                                <option>Музей</option>
                                <option>Страховая компания</option>
                                <option>Медицинский центр</option>
                                <option>Модельное агенство</option>
                                <option>Рекламное агенство</option>
                                <option>Строительная компания</option>
                                <option>Ветеринарная клиника</option>
                                <option>Фитнесс-центр</option>
                                <option>Зоомагазин</option>
                                <option>Книжный магазин</option>
                                <option>Гостиница</option>
                                <option>Турагентство</option>
                            </select>
                        </p>
                    </div>
        
        
                    <div class = "vvod1">
                        <input class = "input3" onkeydown="checkKey(event)" id = "input_yours" type="text" placeholder="Бизнес привлекающий трафик">
                    </div>
                </div>
        
                <div class = "stroka2">
                    <div class = "select2">
                        <p>Бизнес конкурентов: <i class="fa fa-info-circle"><span class="tooltiptext">Выбор нескольких позиций/Отмена Выбора:<br>Ctrl + Клик Левой Кнопки Мыши<br>Или<br>Shift + Клик Левой Кнопки Мыши</span></i></p>
                            <p><select class ="select_concurent" id = "select_concurent" size = "6" multiple="multiple" name="variants2">
                                <option>Торговый Центр</option>
                                <option>Кинотеатр</option>
                                <option>Ресторан</option>
                                <option>Салон связи</option>
                                <option>Магазин косметики</option>
                                <option>Продуктовый магазин</option>
                                <option>Аптека</option>
                                <option>Салон красоты</option>
                                <option>Банк</option>
                                <option>Театр</option>
                                <option>Музей</option>
                                <option>Страховая компания</option>
                                <option>Медицинский центр</option>
                                <option>Модельное агенство</option>
                                <option>Рекламное агенство</option>
                                <option>Строительная компания</option>
                                <option>Ветеринарная клиника</option>
                                <option>Фитнесс-центр</option>
                                <option>Зоомагазин</option>
                                <option>Книжный магазин</option>
                                <option>Гостиница</option>
                                <option>Турагентство</option>
                            </select>
                        </p>
                    </div>
        
                    <div class = "vvod2">
                        <input class = "input" onkeydown="checkKey(event)" id = "input_concurent" type="text" placeholder="Бизнес конкурентов">
                        <input class = "input2" oninput = "CheckRadius()" min="0" onkeydown="checkKey(event)" id = "input2" type="number" placeholder="Радиус окружности(м.)">
                    </div>
                </div>
        
                <div class="slider_div">
                   	<p>Укажите плотность заливки: </p>
                   	<input class="slider" id = "myRange" type="range" min="0" max="1" step="0.1" value="0.6">
                   	<p>Плотность: <span id="demo">0.6</span></p>
               	</div>
        
                <div class="all_buttons">
                    <div class = "buttons">
                        <button class="btn button_search" onclick="multi()">Найти</button>
                        <button class="btn button_clear" onclick="search_clear()">Очистить</button>
                        <button class="btn button_stop" onclick="catch_point()">Зафиксировать</button>
                        <div id = "message_save" class = "message_save" style="font-size: 80%; text-align: center; font-family: 'Montserrat'"></div>
                        <button class="btn button_save" onclick="CreateResponse()">Сохранить</button>
                        
                        <div class="overlay_clear"></div>
                        
                        <div class="block_popup_clear">
                            <h3>Какие точки Вы хотите удалить?</h3>
                            <button class="btn delete_stopped" onclick="delete_stopped()">Зафиксированные</button>
                            <button class="btn delete_not_stopped" onclick="delete_not_stopped()">Обычные</button>
                            <button class="btn delete_all" onclick="delete_all()">Все</button>
                            <span>&times;</span>
                        </div>
                    </div>
                    <div class="plotnostImage">
                        <img src="static/images/plotnost.png" class = "plotnost_img">
                    </div>
                </div>
            </div>
            <div class = "map" id="map"></div>
        </div>
        
        <div id = "message2"><p id = "message_text2"></p></div>
        <section class = "section_futor">
            <div class="container">
                <section class="page_section contact" id="contact">
                    <div class="contact_section">
                        <h2>Свяжитесь с нами!</h2>
                    </div>
                    <div class="form-inner">
                        <input type="text" class = "FBname" Id = "FBname" placeholder="ФИО">
                        <input type="email" class = "FBemail" Id = "FBemail" placeholder="Email">
                        <textarea placeholder="Сообщение..." Id = "FBtext" class = "FBtext" rows="10"></textarea>
                    </div>
                    <button class="FBbutton" onclick="SendMessage()">Отправить</button>
                    <div class = "icon_div">
                        <ul class="icons">
                            <a href = "https://www.facebook.com/profile.php?id=100072329714850" target="_blank">
                                <li class="icon">
                                    <i class="fa fa-facebook"></i>
                                </li>
                            </a>
                            <a href = "https://www.twitter.com/montesume" target="_blank">
                                <li class="icon">
                                    <i class="fa fa-twitter"></i>
                                </li>
                            </a>
                            <a href = "https://www.instagram.com/montesume" target="_blank">
                                <li class="icon">
                                    <i class="fa fa-instagram"></i>
                                </li>
                            </a>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="container">
                <div class="footer_bottom"><span>IVR 2020-2022. Rakhmanov Danila</span> </div>
            </div>
        </section>
    </body>	
</html>
