<!DOCTYPE html>
<html lang="en">
<head>
<title>Montesume - IV</title>
<link rel="icon" type="image" href="static/images/Montesume.png">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel = "stylesheet" href="static/css/normalize.css">
<link rel = "stylesheet" href="static/css/met4.css">
<link rel = "stylesheet" href="static/css/footer.css">
<link rel = "stylesheet" href="static/css/defaultSPs.css">
<script src="https://use.fontawesome.com/df966d76e1.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=6fd23210-854a-49be-89d6-ad43db62f1e3&lang=ru_RU" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src = "static/scripts/Sav.js" > </script>
<script type="text/javascript" src = "static/scripts/YzhMed.js" > </script>
<script src="https://yastatic.net/s3/mapsapi-jslibs/heatmap/0.0.1/heatmap.min.js" type="text/javascript"></script>
<script type="text/javascript">

class Response {
    constructor(method, credentials, headers, data, body, url) {
        this.method = method;
        this.credentials = credentials;
        this.headers = headers;
        this.url = url;
        this.data = data;
        this.body = body;
    }

    //функция для отправки запроса на заполнение истории запросов
    async MakeHistoryRequest() {
        let response = await fetch(this.url, { method: this.method, headers: this.headers,body: this.body});
        let result = await response.json();
        if (result['result'] == "saved") {
            document.getElementById('message_text').innerHTML = 'Успешно сохранено';
            document.getElementById('message').style['background-color'] = '#00C147';
        } else if (result['result'] == "plsenter") {
            document.getElementById('message_text').innerHTML = 'Войдите в аккаунт,чтобы сохранить!';
            document.getElementById('message').style['background-color'] = '#F86368';
        } else if (result['result'] == "samerequest") {
            document.getElementById('message_text').innerHTML = 'Ранее у Вас уже был такой запрос!';
            document.getElementById('message').style['background-color'] = '#F86368';
        }
    }

    //функция для создания запроса на отправку сообщений по футеру
    async SendMessage() {
        let response = await fetch(this.url, { method: this.method, headers: this.headers,body: this.body});
        let result = await response.json();
        if (result["result"] == "invname") {
            document.getElementById('message_text2').innerHTML = 'Ваше ФИО введено неправильно!';
            document.getElementById('message2').style['background-color'] = '#F86368';
        } else if (result["result"] == "invemail") {
            document.getElementById('message_text2').innerHTML = 'Ваш email введён неправильно!';
            document.getElementById('message2').style['background-color'] = '#F86368';
        } else if (result["result"] == "success") {
            document.getElementById('message_text2').innerHTML = 'Ваше сообщение успешно отправлено!';
            document.getElementById('message2').style['background-color'] = '#00C147';
              document.getElementById('FBname').value = "";
            document.getElementById('FBemail').value = "";
            document.getElementById('FBtext').value = "";
        }
    }

    //функция для создания запроса на получение информации профиля пользователя
    async UserInfo() {
        let response = await fetch(this.url, { method: this.method, headers: this.headers,body: this.body});
        let result = await response.json();
        let popupflag = 0;
        if (result == 'plsenter') {
            popupflag = 1;
            document.getElementById('name').innerHTML = 'Вход';
        } else if (result['user_info']['isEmailConfirmed'] == 0) {
            popupflag = 1;
            document.getElementById('name').innerHTML = result['user_info']['name'];
        } else {
            setCookie('montesume_access_token', result['access_token'])
            document.getElementById('name').innerHTML = result['user_info']['name'];
            document.getElementById('name').href = "lk";
        }
        if (popupflag == 1)
        {
            $(document).ready(function() {
                $('#overlay').fadeIn(297, function(){
                  $('#block_popup')
                  .css('display', 'block')
                  .animate({opacity: 1}, 198);
                });
            });  
        }
    }
}

async function resp() {
    let data = {
        "access_token": get_cookie("montesume_access_token"),
        "refresh_token": get_cookie("montesume_refresh_token")
    };
    const resp = new Response('POST', '', {'Content-Type': 'application/json;charset=utf-8'}, data, JSON.stringify(data), 'info-lk');
    resp.UserInfo();
}
resp();

//функция для установки значения cookie по имени
function setCookie(name, value, options = {}) {
    let updatedCookie = encodeURIComponent(name) + "=" + encodeURIComponent(value);
    document.cookie = updatedCookie;
}

//функция для получения куки по имени
function get_cookie(cookie_name) {
    var results = document.cookie.match ( '(^|;) ?' + cookie_name + '=([^;]*)(;|$)' );
    if (results) return ( unescape ( results[2] ) );
    else return null;
}

async function SendMessage() {
    if (document.getElementById('FBname').value == '' ||
    document.getElementById('FBemail').value == '' ||
    document.getElementById('FBtext').value == '') {
        document.getElementById('message_text2').innerHTML = 'Нельзя оставлять поля пустыми!';
        document.getElementById('message2').style['background-color'] = '#F86368';
    }
    else {
        let data = {
            "name": document.getElementById('FBname').value,
            "email": document.getElementById('FBemail').value,
            "text": document.getElementById('FBtext').value
        };
        const resp = new Response('POST', '', {'Content-Type': 'application/json;charset=utf-8'}, data, JSON.stringify(data), '/send-message');
        resp.SendMessage();
    }
}

var mas_yours = []; //массив с типами бизнеса, привлекающими трафик
var mas_conc = []; //масcив с типами бизнеса конкурентов
var mas_stopped_points_coords = []; //массив с координатами зафиксированных точек
var mas_stopped_points_addresses = []; //массив с адресами зафиксированных точек
var circ_radius = 0; //радиус круга
var mas_search_name = []; //массив со всеми типами бизнесов, введённых пользователями

async function CreateResponse() {
    if (mas_search_name.length == 0) {
        document.getElementById('message_text').innerHTML = 'Нельзя сохранять "пустой" запрос!';
        document.getElementById('message').style['background-color'] = '#F86368';
    } else {
        let data = {
        "access_token": get_cookie("montesume_access_token"),
        "refresh_token": get_cookie("montesume_refresh_token"),
        "md_number": 4,
        "your_business": mas_yours,
        "concurent_business": mas_conc,
        "radius": circ_radius,
        "stopped_points_adresses": mas_stopped_points_addresses,
        "stopped_points_coords": mas_stopped_points_coords,
        };
        const resp = new Response('POST', '', {'Content-Type': 'application/json;charset=utf-8'}, data, JSON.stringify(data), 'make-history-request');
        resp.MakeHistoryRequest();
    } 
}

var search_input = ""; //строка с введёнными пользователем типами бизнесов

function multi_input_your(){
    search_input_str = document.getElementById('input_yours').value; //считывание строки ввода
    flag_search = 0; //переменная для подтверждения, что не нашлось одинаковых обхектов
    flag_color = 0; //флаг для определения цвета (тип бизенеса конкурента/ваш тип бизнеса)
    var i = 0;
    var j = 0;
    var buf_search = ''; //текущее имя одного из объектов, разделённых запятыми
    search_input = []; //массив введённых через запятую объектов

    search_input_str = search_input_str.replace(/\s{2,}/g, ' '); //удаление лишних пробелов

    //цикл для отделения объектов поиска через запятую
    while ( i < search_input_str.length) {
        i = j+1;

        //находим символы до запятой, если не конец строки
        while ((j < search_input_str.length) && (search_input_str[j] != ',')) {
            buf_search += search_input_str[j];
            j += 1;
        }
        j += 1; //перескакиваем через запятую

        //кладём искомый объект, выделенный до запятой
        if (buf_search.length) {
            search_input.push(buf_search);
            buf_search = '';
        }

    }

    //цикл добавления поиска на карте с условием, что такого поиска не было ранее (чтобы не дублировать поиски)
    for (let k = 0; k < search_input.length; k++) {

        //условие нахождения, был ли такой поиск ранее
        for (let i = 0; i < mas_search_name.length; i++) {
            if (mas_search_name[i] == search_input[k].toLowerCase()){
            //if (mas_search_name[i] == search_input[k]){
                flag_search = 1;
            }
        }

        //если такого поиска ранее не было и поиск не пустой, добавляем его на карту
        if (flag_search == 0 && search_input[k] != ' ') {
            mas_search_name.push(search_input[k].toLowerCase()); //добавление нового названия объекта, чтобы исключить дубли
            mas_yours.push(search_input[k]);
            mas_search.push(add_search(flag_color));
            mas_flags.push(0);
            mas_search[mas_search.length - 1].search(search_input[k]).then(function () {}); //запуск нового добавленного пустого поиска по текущему заданному пользователем имени объекта
            loading_dots(); //выхов функции подгрузки новых текущих точек
        }
        flag_search = 0;
    }
}

function multi_input_concurent(){
    search_input_str = document.getElementById('input_concurent').value;
    flag_search = 0;
    flag_color = 1;
    var i = 0;
    var j = 0;
    var buf_search = '';
    search_input = [];

    search_input_str = search_input_str.replace(/\s{2,}/g, ' '); //удаление лишних пробелов

    while ( i < search_input_str.length) {
        i = j+1;

        while ((j < search_input_str.length) && (search_input_str[j] != ',')) {
            buf_search += search_input_str[j];
            j += 1;
        }
        j += 1;

        if (buf_search.length) {
            search_input.push(buf_search);
            buf_search = '';
        }
    }

    for (let k = 0; k < search_input.length; k++) {

        for (let i = 0; i < mas_search_name.length; i++) {
            if (mas_search_name[i] == search_input[k].toLowerCase()){
                flag_search = 1;
            }
        }

        if (flag_search == 0 && search_input[k] != ' ') {
            mas_search_name.push(search_input[k].toLowerCase());
            mas_conc.push(search_input[k]);
            mas_search.push(add_search(flag_color));
            mas_flags.push(1);
            mas_search[mas_search.length - 1].search(search_input[k]).then(function () {});
            loading_dots();
        }
        flag_search = 0;
    }
}

function multi_select_your(){
    search_input = document.getElementById('select_yours');
    flag_color = 0;
    flag_search = 0;
    var values = [];

    if (search_input.multiple) {
        for (let i = 0; i < search_input.options.length; i ++) {
            if (search_input.options[i].selected)
               values.push(search_input.options[i].value);
        }
    } else
        values.push(search_input.value);

    for (let k = 0; k < values.length; k++) {
        for (let i = 0; i < mas_search_name.length; i++) {
            if (mas_search_name[i] == values[k].toLowerCase()){
                flag_search = 1;
            }
        }

        if (flag_search == 0 && values[k] != '') {
            mas_search_name.push(values[k].toLowerCase());
            mas_yours.push(values[k]);
            mas_search.push(add_search(flag_color));
            mas_flags.push(0);
            mas_search[mas_search.length - 1].search(values[k]).then(function () {});
            loading_dots();
        }
        flag_search = 0;
    }
}

function multi_select_concurent(){
    search_input = document.getElementById('select_concurent');
    flag_color = 1;
    flag_search = 0;
    //в этот массив будем отбирать выбранные значения
    var values = [];

    //случай мульти-режима
    if (search_input.multiple) {
      //перебираем массив опций
      for (let i = 0; i < search_input.options.length; i ++) {
        //если опция выбрана - добавим её в массив
        if (search_input.options[i].selected)
           values.push(search_input.options[i].value);
      }
    //случай одиночного выбора в select
    } else
      values.push(search_input.value);

    for (let k = 0; k < values.length; k++) {

        for (let i = 0; i < mas_search_name.length; i++) {
            if (mas_search_name[i] == values[k].toLowerCase()){
                flag_search = 1;
            }
        }

        if (flag_search == 0 && values[k] != '') {
            mas_search_name.push(values[k].toLowerCase());
            mas_conc.push(values[k]);
            mas_search.push(add_search(flag_color));
            mas_flags.push(1);
            mas_search[mas_search.length - 1].search(values[k]).then(function () {});
            loading_dots();
        }
        flag_search = 0;
    }
}

function checkKey(e) {
    //триггер нажатия клавиши enter
    if (event.keyCode === 13) {
        multi();
    }
}

//вызов всех функций multi
function multi() {
    multi_input_your();
    multi_select_your();
    multi_input_concurent();
    multi_select_concurent();
}

function add_search(flag_color) {

    //условие для проверки цвета (тип бизенеса конкурента/ваш тип бизнеса)
    if (flag_color == 0) {

        //создание объекта поиска вашего типа бизнеса
        var searchControl = new ymaps.control.SearchControl({
            options: {
                provider: 'yandex#search',
                geoObjectStandardPreset: 'islands#greenCircleDotIcon',
                position: {
                    bottom: -100
                }
            }
        });

    } else {

        //создание объекта поиска конкурента
        var searchControl = new ymaps.control.SearchControl({
            options: {
                provider: 'yandex#search',
                geoObjectStandardPreset: 'islands#redCircleDotIcon',
                position: {
                    bottom: -100
                }
            }
        });
    }

    var myCollection = new ymaps.GeoObjectCollection({}, {}); //создание коллекции для геообъектов текущего поиска

    mas_collections.push(myCollection); //добавление её в массив коллекций
    myMap.controls.add(searchControl); //добавление нового поиска на карту

    return searchControl; //возвращаем объект нового поиска
}

function delete_all() {
    //цикл, осуществляющий удаление всех обектов из коллекции (всех геообъектов карты)
    for (let i = 0; i < mas_collections.length; i++) {
        mas_collections[i].removeAll();
    }

    //цикл для очистки поисков с карты
    for (let i = 0; i < mas_search.length; i++) {
        myMap.controls.remove(mas_search[i]);
    }

    CatchCollection.removeAll(); //удаление всех фиксированных благоприятных точек
    result_collection.removeAll(); //удаление всех фиксированных благоприятных точек

    //обнуление переменных
    mas_search_name = [];
    mas_yours = [];
	mas_conc = [];
	mas_stopped_points_addresses = [];
	mas_stopped_points_coords = [];
}

function delete_not_stopped () {
    //цикл, осуществляющий удаление всех обектов из коллекции (всех геообъектов карты)
    for (let i = 0; i < mas_collections.length; i++) {
        mas_collections[i].removeAll();
    }

    //цикл для очистки поисков с карты
    for (let i = 0; i < mas_search.length; i++) {
        myMap.controls.remove(mas_search[i]);
    }

    result_collection.removeAll(); //удаление всех фиксированных благоприятных точек

    //обнуление переменных
    mas_search_name = [];
    mas_yours = [];
	mas_conc = [];
}

function delete_stopped () {
    CatchCollection.removeAll(); //удаление всех фиксированных благоприятных точек
    mas_stopped_points_addresses = [];
	mas_stopped_points_coords = [];
}

//функция для очисти всех объектов карты
function search_clear() {

    $('.overlay_clear, .block_popup_clear').fadeIn();

    $('.block_popup_clear span').click(function() {
        $('.block_popup_clear, .overlay_clear').fadeOut();
    })
}

/*функции array_compare и Find нужны для того, чтобы одинаковые
зафиксированные точки не ставились друг на друга*/
function array_compare(a, b) {
    if (a != null && b != null)
    {
        if(a.length != b.length)
           return false;
    
        for(i = 0; i < a.length; i++)
           if(a[i] != b[i])
              return false;
    
        return true;
    }
}

function Find(mas_where, mas_what) {
    if (mas_where.length != null) {
        for(let i = 0; i < mas_where.length; i++) {
            if (array_compare(mas_where[i], mas_what)) return true;
        }
        return false;
    }
    return false;
}

//функция для фиксации благоприятной точки
function catch_point() {
    if(mas_yours.length != 0 && mas_conc.length != 0) {
        mas_result = [(result_points1[0] + result_points[0]) / 2, (result_points1[1] + result_points[1]) / 2];
        mas_catchcollection = [];

        //создание зафиксированной точки
        placemark = new ymaps.Placemark(mas_result, {
            iconContent: "Узнать адрес",
        }, {
            balloonPanelMaxMapArea: 0,
            preset: "islands#yellowStretchyIcon",
            openEmptyBalloon: true
        });

        //создание круга вокруг зафиксированной точки
        var myCircle_resultt = new ymaps.Circle([mas_result, radius], {}, {
            fillColor: '#FFD21E',
            opacity: 0.3
        });

        //функция прогрузки адреса зафиксированной точки
        ymaps.geocode(placemark.geometry.getCoordinates(), {
            results: 1
        }).then(function (res) {
            var newContent = res.geoObjects.get(0) ?
                res.geoObjects.get(0).properties.get('name') :
                'Не удалось определить адрес.';
            placemark.properties.set('balloonContent', newContent);
            if (mas_stopped_points_addresses.indexOf(newContent) == -1) {
                mas_stopped_points_addresses.push(newContent);
            }
        });

        if (!(Find(mas_stopped_points_coords, mas_result))) {
            //добавление фиксированных объектов в коллекцию
            if (mas_result.length != 0) mas_stopped_points_coords.push(mas_result);
            CatchCollection.add(placemark);
            CatchCollection.add(myCircle_resultt);

            myMap.geoObjects.add(CatchCollection); //добавление коллекции на карту
        }
    }
}

function loading_dots() {

    //цикл запусков постоянных прогрузок новых поисковых объектов
    for (let i = 0; i < mas_search.length; i++) {
        mas_search[i].events.add('load', function (e) {
            radius = document.getElementById('input2').value;
            circ_radius = radius;
            var geoObjectsArray = mas_search[i].getResultsArray();
                mas_coords = [];

            //формирование цветов
            if (mas_flags[i] == 0) {
                random_color = '#36FC36';
            }
            if (mas_flags[i] == 1){
                random_color = '#FC4F7A';
            }
            if (mas_flags[i] == 2) {
                random_color = '#2C2CFC';
            }

            //проверка наличия объектов
            if (geoObjectsArray.length) {
                mas_collections[i].removeAll() //очистка коллекции от предыдущих поисков

                //цикл для нахождения координат каждого объекта из текущего поиска и отрисовки вокруг них окружностей
                for (let j = 0; j < geoObjectsArray.length; j++) {
                    mas_coords.push(geoObjectsArray[j].geometry.getCoordinates()); //массив координат точек

                    //построение окружности вокруг точек
                    var myCircle = new ymaps.Circle([mas_coords[j], radius], {}, {
                        fillColor: random_color,
                        opacity: 0.2
                    });

                       mas_collections[i].add(myCircle); //добавление окружности в коллекцию
                }
                myMap.geoObjects.add(mas_collections[i]); //добавление коллекции на карту

                //проверка значения цвета
                if (mas_flags[i] == 1) {
                    global_dots_mas_conc[i] = [];

                    //заполнение набора текущих координат новых точек
                    for(let k = 0; k < mas_coords.length; k++){
                        global_dots_mas_conc[i].push(mas_coords[k]);
                    }
                    k_index = 0;

                    //проверка, чтобы поиск был последним
                    for(let k = 0; k < mas_flags.length;k++) {
                        if(mas_flags[k] == 1) {
                            k_index =k;
                        }
                    }

                    //если поиск последний
                    if (i == k_index) {
                        result_points = search_max_distance(); //координаты итоговой наиболее удалённой от конкурентов точки

                        //создание итоговой наиболее удалённой от конкурентов точки
                        var myPlacemark_result = new ymaps.Placemark(result_points, {}, {
                            preset:'islands#orangeIcon'
                        });

                        //создание окружности вокруг итоговой точки
                        var myCircle_result = new ymaps.Circle([result_points, radius], {}, {
                            fillColor: '#FF931E',
                            opacity: 0.3
                        });
                    }

                    //добавление итоговых геообъектов в коллекцию
                    mas_collections[i].add(myPlacemark_result);
                    mas_collections[i].add(myCircle_result);

                    myMap.geoObjects.add(mas_collections[i]); //добавление коллекции на карту

                } else if (mas_flags[i] == 0) {
                    global_dots_mas_your[i] = []
                    for(let k = 0; k < mas_coords.length; k++){
                        global_dots_mas_your[i].push(mas_coords[k]);
                    }
                    k_index = 0;
                    for(let k = 0; k < mas_flags.length;k++) {
                        if(mas_flags[k] == 0) {
                            k_index =k;
                        }
                    }
                    if (i == k_index) {
                        result_points1 = search_min_distance();

                        //создание точки, максимально приближённой ко всем типам бизнеса, привлекающим трафик

                        var myPlacemark_result2 = new ymaps.Placemark(result_points1, {}, {
                            preset:'islands#blueIcon'
                        });
                        
                        var myCircle_result2 = new ymaps.Circle([result_points1, radius], {}, {
                            fillColor: '#1E98FF',
                            opacity: 0.3
                        });
                    }
                    mas_collections[i].add(myPlacemark_result2);
                    mas_collections[i].add(myCircle_result2);
                    
                    myMap.geoObjects.add(mas_collections[i]);
                }

                if(result_points1 && result_points && mas_yours.length != 0 && mas_conc.length != 0) {

                    result_collection.removeAll();
                    myPlacemark_result3 = new ymaps.Placemark([(result_points1[0] + result_points[0]) / 2 , (result_points1[1] + result_points[1]) / 2], {
                        iconContent: "Узнать адрес",
                    }, {
                        balloonPanelMaxMapArea: 0,
                        preset: "islands#violetStretchyIcon",
                        openEmptyBalloon: true
                    });
                
                
                    //функция прогрузки адреса зафиксированной точки
                    myPlacemark_result3.properties.set('balloonContent', "Идет загрузка данных...");
            
                    ymaps.geocode(myPlacemark_result3.geometry.getCoordinates(), {
                        results: 1
                    }).then(function (res) {
                        var newContent = res.geoObjects.get(0) ?
                                res.geoObjects.get(0).properties.get('name') :
                                'Не удалось определить адрес.';
                        myPlacemark_result3.properties.set('balloonContent', newContent);
                    });

                    var myCircle_result3 = new ymaps.Circle([[(result_points1[0] + result_points[0]) / 2 , (result_points1[1] + result_points[1]) / 2], radius], {}, {
                        fillColor: '#9A65F7',
                        opacity: 0.3
                    });
                    result_collection.add(myPlacemark_result3);
                    result_collection.add(myCircle_result3);
                    myMap.geoObjects.add(result_collection);
                }
            }
        })
    }
}

//функция для построения сетки (потенциальные благоприятные точки)
function map_setka(down_left, top_right, step) {
    height = top_right[1] - down_left[1]; //вычислекние высоты карты в текущей области
    width = top_right[0] - down_left[0]; //вычислекние ширины карты в текущей области
    a = 0; //шаг по ширине сетки
    b = 0; //шаг по высоте сетки

    var mas_coords_setka = []; //массив координат сетки

    //цикл для заполнения координатами массива mas_coords_setka (иницаиаизация сетки)
    for(let i = 0; i < step; i++) {
        mas_coords_setka.push([]);
        b = (height/step)*i;
        for(let j = 0; j < step; j++) {
            a = (width/step)*j;
            mas_coords_setka[i].push([down_left[0]+a, down_left[1]+b]);
        }
        a = 0;
    }

    return mas_coords_setka;
}

//функция для вычисления Евклидового расстояния между двумя точкми
function Evklid_distance(x1, x2, y1 , y2){
    r = Math.sqrt(Math.pow(x1-x2, 2) + Math.pow(y1-y2, 2));
    return r;
}

//функция для поиска минимального расстояния между текущей точки сетки и всеми точками найденных объектов на карте
function distance_coords(mas_dots_from_setka) {
    for(let i = 0; i < global_dots_mas_conc.length; i++) {
        if(global_dots_mas_conc[i]) {
            min_distance = Evklid_distance(mas_dots_from_setka[0], global_dots_mas_conc[i][0][0],mas_dots_from_setka[1], global_dots_mas_conc[i][0][1]); //вычисление минимального расстояния
        }
    }

    //цикл для поиска минимального расстояния между текущей точки сетки и всеми точками найденных объектов на карте
    for(let i = 0; i < global_dots_mas_conc.length; i++) {
        if(global_dots_mas_conc[i]) {
            for( let j = 0; j < global_dots_mas_conc[i].length; j++) {
                distance = Evklid_distance(mas_dots_from_setka[0], global_dots_mas_conc[i][j][0],mas_dots_from_setka[1], global_dots_mas_conc[i][j][1]);
                if (distance < min_distance) {
                    min_distance = distance;
                }
            }
        }
    }
    return min_distance;
}

function max_distance_coords(mas_dots_from_setka) {
    for(let i = 0; i < global_dots_mas_your.length; i++) {
        if(global_dots_mas_your[i]) {
            max_distance = Evklid_distance(mas_dots_from_setka[0], global_dots_mas_your[i][0][0],mas_dots_from_setka[1], global_dots_mas_your[i][0][1]); //вычисление максимального расстояния
        }
    }

    //цикл для поиска максимального расстояния между текущей точки сетки и всеми точками найденных объектов на карте
    for(let i = 0; i < global_dots_mas_your.length; i++) {
        if(global_dots_mas_your[i]) {
            for( let j = 0; j < global_dots_mas_your[i].length; j++) {
                distance = Evklid_distance(mas_dots_from_setka[0], global_dots_mas_your[i][j][0],mas_dots_from_setka[1], global_dots_mas_your[i][j][1]);
                if (distance > max_distance) {
                    max_distance = distance;
                }
            }
        }
    }
    return max_distance;
}

//функция для нахождения максимального среди минимальных расстояний от точек сетки до найденных объектов на карте
function search_max_distance() {
    delt = 1/10 * (myMap.getBounds()[1][0]-myMap.getBounds()[0][0])
    search_map_setka = map_setka([myMap.getBounds()[0][0]+delt, myMap.getBounds()[0][1]+delt], [myMap.getBounds()[1][0]-delt, myMap.getBounds()[1][1]-delt],50); //вычисление сетки для текущей области
    max_search_distance = distance_coords(search_map_setka[0][0]); //вычисление первого минимального расстояния с первой точкой на сетке
    result_dots = search_map_setka[0][0]; //итоговая точка

    //цикл для поиска максимума среди минимумов
    for(let i = 0; i < search_map_setka.length; i++) {
        for( let j = 0; j < search_map_setka[i].length; j++) {
            search_distance = distance_coords(search_map_setka[i][j]); //нахождение минимального расстояния для текущей точки сетки

            //поиск максимального расстояния среди минимальных
            if (search_distance > max_search_distance) {
                max_search_distance = search_distance;
                result_dots = search_map_setka[i][j];
            }
        }
    }
    return result_dots;
}

//функция для нахождения минимального среди максимальных расстояний от точек сетки до найденных объектов на карте
function search_min_distance() {
    delt = 1/10 * (myMap.getBounds()[1][0]-myMap.getBounds()[0][0])
    search_map_setka = map_setka([myMap.getBounds()[0][0]+delt, myMap.getBounds()[0][1]+delt], [myMap.getBounds()[1][0]-delt, myMap.getBounds()[1][1]-delt],50); //вычисление сетки для текущей области
    min_search_distance = max_distance_coords(search_map_setka[0][0]); //вычисление первого максимального расстояния с первой точкой на сетке
    result_dots = []; //итоговая точка

    //цикл для поиска минимума среди минимумов
    for(let i = 0; i < search_map_setka.length; i++) {
        for( let j = 0; j < search_map_setka[i].length; j++) {
            search_distance = max_distance_coords(search_map_setka[i][j]); //нахождение максимального расстояния для текущей точки сетки

            //поиск минимального расстояния среди максимальных
            if (search_distance < min_search_distance) {
                min_search_distance = search_distance;
                result_dots = search_map_setka[i][j];
            }
        }
    }
    return result_dots;
}

function ChangeParams() {
    document.getElementById('slider22val').value = document.getElementById('slider3val').value;
    document.getElementById('slider21val').value = document.getElementById('slider1val').value;
    
    
    for(let j = 0; j < mas_districts.length; j++) {
        for(let i = 0; i < mas_districts_params[j][0].length; i++) {
            if(mas_districts_params[j][1][i] < document.getElementById('slider21val').value) {
                mas_districts[j][i].options.set({ strokeColor: '#008000'}); //#BBE22B - зелено-желтый
            } else if(mas_districts_params[j][1][i] <= document.getElementById('slider22val').value && mas_districts_params[j][1][i] >= document.getElementById('slider21val').value) {
                mas_districts[j][i].options.set({ strokeColor: '#FFFF00'}); //#F9AC2B - оранжевый
            } else if(mas_districts_params[j][1][i] > document.getElementById('slider22val').value) {
                mas_districts[j][i].options.set({ strokeColor: '#FF0000'});
            }
            mas_districts[j][i].options.set({ strokeWidth: document.getElementById('strokeWidthSelect').value});
        }
    }
}

function init() {
    /*два массива для хранения координат точек: наиболее отдалённой от конкурентов,
    наиболее приближённой к благоприятным местам*/
    result_points = [];
    result_points1 = [];

    mas_search = []; //массив искомых объектов

    //два массива для хранения координат всех точек благоприятных мест и конкурентов
    global_dots_mas_conc = [];
    global_dots_mas_your = [];

    myMap = new ymaps.Map('map', {
        center: [55.74, 37.58],
        zoom: 10,
        controls: []
    });
    mas_flags = []; //массив с цветами всех точек благоприятных мест и конкурентов
    mas_collections = []; //массив наборов объектов, отображаемых на карте
    //создание коллекций для хранения геообъектов
    var myCollection = new ymaps.GeoObjectCollection({}, {});
    result_collection = new ymaps.GeoObjectCollection({}, {});
    mas_collections.push(myCollection);
    CatchCollection = new ymaps.GeoObjectCollection({}, {});

    //массив с проходимостью/координатами каждого района
    mas_districts_params = [[Savelovskiy_line(), HourlyPeoples8_22Sav(), HourlyPeoples8_10Sav(), HourlyPeoples17_19Sav(), HourlyPeoples22_08Sav(), DailySav(), MonthlySav()], [Medvedkovo_line(), HourlyPeoples8_22Med(), HourlyPeoples8_10Med(), HourlyPeoples17_19Med(), HourlyPeoples22_08Med(), DailyMed(), MonthlyMed()]];
    //массив с линиями для к каждого района
    mas_districts = [[],[]];
    
    for(let j = 0; j < mas_districts.length; j++) {
        for(let i = 0; i < mas_districts_params[j][0].length; i++) {
            myPolyline = new ymaps.Polyline([mas_districts_params[j][0][i][0],mas_districts_params[j][0][i][1]], {}, {strokeWidth: 5});
            myPolyline.properties.set('hintContent',
                "08 - 22 ч. (день, в среднем)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + mas_districts_params[j][1][i] + " чел/час "
               +"<br>08 - 10 ч. (утренний час пик)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + mas_districts_params[j][2][i] + " чел/час"
               +"<br>17 - 19 ч. (вечерний час пик)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + mas_districts_params[j][3][i] + " чел/час"
               +"<br>22 - 08 ч. (ночь)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + mas_districts_params[j][4][i] + " чел/час"
               +"<br>--------------------------------------------------"
               +"<br>За день&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + mas_districts_params[j][5][i] + " чел/час"
               +"<br>За месяц&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + mas_districts_params[j][6][i] + " чел/час"
            );
            mas_districts[j].push(myPolyline);
             
            if(mas_districts_params[j][1][i] < 120) {
                mas_districts[j][i].options.set({ strokeColor: '#008000'}); //#BBE22B - зелено-желтый
            } else if(mas_districts_params[j][1][i] <= 200 && mas_districts_params[j][1][i] >= 120) {
                mas_districts[j][i].options.set({ strokeColor: '#FFFF00'}); //#F9AC2B - оранжевый
            } else if(mas_districts_params[j][1][i] > 200) {
                mas_districts[j][i].options.set({ strokeColor: '#FF0000'});
            }
        
            myMap.geoObjects.add(myPolyline);
        }
    }

    //построение тепловой карты
    var mas_data = [HeatMapMed(), HeatMapSav()];
    for(let i = 0; i < mas_data.length; i++) {
        ymaps.modules.require(['Heatmap'], function (Heatmap) {
            heatmap = new Heatmap(mas_data[i]);
            heatmap.setMap(myMap);
            heatmap.options.set('radius', 20);
        });
    }
}

//функция проверки ввода радиуса
function CheckRadius() {
    document.getElementById('input2').value = Number(String(document.getElementById('input2').value));
}

//функция проверки ввода чисел, по которым закрашиваются линии проходимости людей
function CheckNumber() {
    document.getElementById('slider3val').value = Number(String(document.getElementById('slider3val').value));
    document.getElementById('slider1val').value = Number(String(document.getElementById('slider1val').value));
}

ymaps.ready(init);

</script>
<meta charset="utf-8">
</head>
    <body>
        <header>
            <a href="http://b92599ho.beget.tech/" style = "display: flex; text-decoration: none; color: black;">
                <p><img class = "logo" src="static/images/Montesume.png" width="70" height="70" ></p>
                <div class="name"> <h1> Montesume </h1> </div>
            </a>
            <div class = "div_enter"> <a id = "name" class="enter" href="enter" ></a> </div>
        </header>
        <div id = "message"><p id = "message_text"></p></div>
        
        <div id="block_popup">
            <h3 style = "text-align: center; margin-top: -0.5%;">Данный способ поиска доступен только зарегистрированным пользователям с подтверждённым email!</h3>
            <h3 style = "text-align: center; margin-top: -0.5%;">Зарегистрируйтесь, войдите или подтвердите email, чтобы продолжить!</h3>
            <form action="register"> <button class="btn register_button">Зарегистрироваться</button> </form>
            <form action="enter"> <button class="btn enter_button">Войти</button> </form>
            <form action="/"> <button class="btn mainpage_button">Вернуться на главную страницу</button> </form>
            <form action="lk"> <button class="btn lk_button">Открыть Личный Кабинет</button> </form>
        </div>
        <div id="overlay"></div>
        
        <div class = "spisok">
            <div class = "spk">
                <div class = "stroka1">
                    <div class = "select1">
                        <p>Бизнес привлекающий трафик: <i class="fa fa-info-circle"><span class="tooltiptext">Выбор нескольких позиций/Отмена Выбора:<br>Ctrl + Клик Левой Кнопки Мыши<br>Или<br>Shift + Клик Левой Кнопки Мыши</span></i></p>
                            <p><select class ="select_yours" id = "select_yours" size = "5" name="variants1" multiple >
                                <option>Торговый Центр</option>
                                <option>Кинотеатр</option>
                                <option>Ресторан</option>
                                <option>Салон связи</option>
                                <option>Магазин косметики</option>
                                <option>Продуктовый магазин</option>
                                <option>Аптека</option>
                                <option>Салон красоты</option>
                                <option>Банк</option>
                                <option>Театр</option>
                                <option>Музей</option>
                                <option>Страховая компания</option>
                                <option>Медицинский центр</option>
                                <option>Модельное агенство</option>
                                <option>Рекламное агенство</option>
                                <option>Строительная компания</option>
                                <option>Ветеринарная клиника</option>
                                <option>Фитнесс-центр</option>
                                <option>Зоомагазин</option>
                                <option>Книжный магазин</option>
                                <option>Гостиница</option>
                                <option>Турагентство</option>
                            </select>
                        </p>
                    </div>
        
                    <div class = "vvod1">
                        <input class = "input3" onkeydown="checkKey(event)" id = "input_yours" type="text" placeholder="Бизнес привлекающий трафик">
                    </div>
                </div>
        
                <div class = "stroka2">
                    <div class = "select2">
                        <p>Бизнес конкурентов: <i class="fa fa-info-circle"><span class="tooltiptext">Выбор нескольких позиций/Отмена Выбора:<br>Ctrl + Клик Левой Кнопки Мыши<br>Или<br>Shift + Клик Левой Кнопки Мыши</span></i></p>
                            <p><select class ="select_concurent" id = "select_concurent" size = "6" multiple="multiple" name="variants2">
                                <option>Торговый Центр</option>
                                <option>Кинотеатр</option>
                                <option>Ресторан</option>
                                <option>Салон связи</option>
                                <option>Магазин косметики</option>
                                <option>Продуктовый магазин</option>
                                <option>Аптека</option>
                                <option>Салон красоты</option>
                                <option>Банк</option>
                                <option>Театр</option>
                                <option>Музей</option>
                                <option>Страховая компания</option>
                                <option>Медицинский центр</option>
                                <option>Модельное агенство</option>
                                <option>Рекламное агенство</option>
                                <option>Строительная компания</option>
                                <option>Ветеринарная клиника</option>
                                <option>Фитнесс-центр</option>
                                <option>Зоомагазин</option>
                                <option>Книжный магазин</option>
                                <option>Гостиница</option>
                                <option>Турагентство</option>
                            </select>
                        </p>
                    </div>
        
                    <div class = "vvod2">
                        <input class = "input" onkeydown="checkKey(event)" id = "input_concurent" type="text" placeholder="Бизнес конкурентов">
                        <input class = "input2" oninput = "CheckRadius()" min="0" onkeydown="checkKey(event)" id = "input2" type="number" placeholder="Радиус окружности(м.)">
                    </div>
                </div>
        
                <div class = all_buttons_sp4>
                    <div class = "buttons_sp4">
                        <button class="btn button_search" onclick="multi()">Найти</button>
                        <button class="btn button_clear" onclick="search_clear()">Очистить</button>
                        <button class="btn button_stop" onclick="catch_point()">Зафиксировать</button>
                        <div id = "message_save" class = "message_save" style="font-size: 80%; text-align: center; font-family: 'Montserrat'"></div>
                        <button class="btn button_save" onclick="CreateResponse()">Сохранить</button>
                        
                        <div class="overlay_clear"></div>
                        
                        <div class="block_popup_clear">
                            <h3>Какие точки Вы хотите удалить?</h3>
                                <button class="btn delete_stopped" onclick="delete_stopped()">Зафиксированные</button>
                                <button class="btn delete_not_stopped" onclick="delete_not_stopped()">Обычные</button>
                                <button class="btn delete_all" onclick="delete_all()">Все</button>
                            <span>&times;</span>
                        </div>
                    </div>
                    
                    <div class = "select_people">
                        <div class="legend-item" style="margin-bottom:20px;">
                            <label for="chk_cat1">
                                <span style="background-color:green;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                До <input min="0" oninput = "ChangeParams(); CheckNumber()" type="number" id="slider1val" value = "120" style="width:90px; height:30px;"> чел/час
                            </label>
                        </div>
                        <div class="legend-item" style="margin-bottom:20px;">
                            <label style="background-color:yellow;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <label for="chk_cat2"><input min="0" type="number" id="slider21val" value = "120" readonly style="width:90px; height:30px; outline: none;"> - <input min="0" type="number"
                                id="slider22val" readonly value = "200" style="width:90px; height:30px; outline: none;"> чел/час</label>
                        </div>
                        <div class="legend-item" style="margin-bottom:20px;">
                            <label style="background-color:red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <label for="chk_cat3">Более <input type="number" min="0" oninput = "ChangeParams(); CheckNumber()" id="slider3val" value = "200" style="width:90px; height:30px;"> чел/час</label>
                        </div>
                        <div style="margin-bottom:20px;">
                            Толщина линии
                            <select id = "strokeWidthSelect" onchange = "ChangeParams()">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5" selected>5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "map" id="map"></div>
        </div>
        
        <div id = "message2"><p id = "message_text2"></p></div>
        <section class = "section_futor">
            <div class="container">
                <section class="page_section contact" id="contact">
                    <div class="contact_section">
                        <h2>Свяжитесь с нами!</h2>
                    </div>
                    <div class="form-inner">
                        <input type="text" class = "FBname" Id = "FBname" placeholder="ФИО">
                        <input type="email" class = "FBemail" Id = "FBemail" placeholder="Email">
                        <textarea placeholder="Сообщение..." Id = "FBtext" class = "FBtext" rows="10"></textarea>
                    </div>
                    <button class="FBbutton" onclick="SendMessage()">Отправить</button>
                    <div class = "icon_div">
                        <ul class="icons">
                            <a href = "https://www.facebook.com/profile.php?id=100072329714850" target="_blank">
                                <li class="icon">
                                    <i class="fa fa-facebook"></i>
                                </li>
                            </a>
                            <a href = "https://www.twitter.com/montesume" target="_blank">
                                <li class="icon">
                                    <i class="fa fa-twitter"></i>
                                </li>
                            </a>
                            <a href = "https://www.instagram.com/montesume" target="_blank">
                                <li class="icon">
                                    <i class="fa fa-instagram"></i>
                                </li>
                            </a>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="container">
                <div class="footer_bottom"><span>IVR 2020-2022. Rakhmanov Danila</span> </div>
            </div>
        </section>
    </body>
</html>
