<!DOCTYPE html>
<html lang="en">
<head>
<title>Montesume - Восстановление пароля</title>
<meta charset="UTF-8">
<link rel="icon" type="image" href="static/images/Montesume.png">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="static/css/message.css">
<link rel = "stylesheet" href="static/css/normalize.css">
<link rel="stylesheet" href="static/css/passwordrecover.css">
<script>
class Response {
    constructor(method, credentials, headers, data, body, url) {
        this.method = method;
        this.credentials = credentials;
        this.headers = headers;
        this.url = url;
        this.data = data;
        this.body = body;
    }

    //функция для создания запроса на отправку нового пароля пользователю
    async OnRec() {
        let response = await fetch(this.url, { method: this.method, headers: this.headers,body: this.body});
        let result = await response.json();
        if (result["result"] == 'notallowed') {
            document.getElementById('message_text').innerHTML = 'Ваш email введён неправильно!';
            document.getElementById('message').style['background-color'] = '#F86368';
        } else if (result["result"] == 'send') {
            document.getElementById('message_text').innerHTML = 'Новый пароль был отправлен на введённый email';
            document.getElementById('message').style['background-color'] = '#00C147';
        } else if (result["result"] == 'notfound') {
            document.getElementById('message_text').innerHTML = 'Пользователя с таким email не существует!';
            document.getElementById('message').style['background-color'] = '#F86368';
        }
    }
}

//функция для получения куки по имени
function get_cookie(cookie_name) {
    var results = document.cookie.match ( '(^|;) ?' + cookie_name + '=([^;]*)(;|$)' );
    if (results) return ( unescape ( results[2] ) );
    else return null;
}

function CreateResponse() {
    let data = {
        "email": document.getElementById("emailID").value,
        "access_token": get_cookie("montesume_access_token")
    }
    const resp = new Response('POST', '', {'Content-Type': 'application/json;charset=utf-8'}, data, JSON.stringify(data), 'http://b92599ho.beget.tech/passwordrecover');
    resp.OnRec();
}
</script>
</head>
<body>
    <header>
	    <a href="http://b92599ho.beget.tech/" style = "display: flex; text-decoration: none; color: black;">
    		<p><img class = "logo" src="static/images/Montesume.png" width="70" height="70" ></p>
    		<div class="name"> <h1> Montesume </h1> </div>
    	</a>
    </header>
    <div id = "message"><p id = "message_text"></p></div>

    <div class="signin-signup">
        <h2>Восстановление пароля</h2>
        <h6>Введите адрес электронной почты, который привязан к Вашей учётной записи</h6>
        <div class="input-field" >
            <i class="fas fa-envelope"></i>
            <input class = "input" type="email" name="email" placeholder="Введите email" id="emailID">
        </div>
    </div>
    <button name="enter" class="btn enter"  onclick="CreateResponse()">Отправить</button>
    <div style="text-align: center;" class = "enter_link" >Чтобы войти в аккаунт, нажмите <a href = "enter">сюда</a>.</div>
</body>
</html>
