<!DOCTYPE html>
<html lang="en">
<head>
<title>Montesume - Личный Кабинет</title>
<meta charset="UTF-8">
<link rel="icon" type="image" href="static/images/Montesume.png">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel = "stylesheet" href="static/css/normalize.css">
<link rel="stylesheet" href="static/css/pr_office.css">
<link rel = "stylesheet" href="static/css/footer.css">
<script src="https://use.fontawesome.com/df966d76e1.js"></script>
<meta name="viewport" content="width=device-width,initial-scale=1">
<script>

class Response {
	constructor(method, credentials, headers, data, body, url) {
		this.method = method;
		this.credentials = credentials;
		this.headers = headers;
		this.url = url;
		this.data = data;
		this.body = body;
	}

	//функция для создания запроса на отправку сообщения по футеру
	async SendMessage() {
        let response = await fetch(this.url, { method: this.method, headers: this.headers,body: this.body});
        let result = await response.json();
        if (result["result"] == "invname") {
            document.getElementById('message_text2').innerHTML = 'Ваше ФИО введено неправильно!';
            document.getElementById('message2').style['background-color'] = '#F86368';
		} else if (result["result"] == "invemail") {
            document.getElementById('message_text2').innerHTML = 'Ваш email введён неправильно!';
            document.getElementById('message2').style['background-color'] = '#F86368';
		} else if (result["result"] == "success") {
            document.getElementById('message_text2').innerHTML = 'Ваше сообщение успешно отправлено!';
            document.getElementById('message2').style['background-color'] = '#00C147';
          	document.getElementById('FBname').value = "";
			document.getElementById('FBemail').value = "";
			document.getElementById('FBtext').value = "";
		}
    }

    //функция для создания запроса на очищение истории запросов
	async OnClear() {
        let response = await fetch(this.url, { method: this.method, headers: this.headers,body: this.body});
        let result = await response.text();
        if (result == 'plsenter') window.location.href = '/enter';
	}

	//функция для создания запроса на заполнение истории запросов
	async ShowHistory() {
	    let response = await fetch(this.url, { method: this.method, headers: this.headers,body: this.body});
        let result = await response.json();
        if (result == 'plsenter') window.location.href = '/enter';
        else {
            ShowHistory(result['result']);
        }
	}

	//функция для создания запроса на получение информации профиля пользователя
	async UserInfo() {
        let response = await fetch(this.url, { method: this.method, headers: this.headers,body: this.body});
        let result = await response.json();
        if (result == 'plsenter') window.location.href = '/enter';
        else {
            setCookie('montesume_access_token', result['access_token']);
            document.getElementById('name').innerHTML += result['user_info']['name'];
            document.getElementById('email').innerHTML += result['user_info']['email'];
            if (result['user_info']['isEmailConfirmed'] == 0) {
                document.getElementById('email').innerHTML += "<a class='emailconfirm' id = 'emailconfirm'>(Не подтверждён) <a href = 'confirm'>Подтвердить</a>";
                document.getElementById('emailconfirm').style['color'] = "red";
            }
            document.getElementById('downloadhistory').setAttribute('href',"static/excel_history/RequestHistory_"+result['id']+".xlsx");
        }
	}

	//функция для создания запроса на скачивание истории запросов
	async SendFile() {
        let response = await fetch(this.url, { method: this.method, headers: this.headers,body: this.body});
        let result = await response.json();
        if (result == 'plsenter') window.location.href = '/enter'
        else {
            setCookie('montesume_access_token', result['access_token'])
            let data = { "access_token": get_cookie("montesume_access_token"), "refresh_token": get_cookie("montesume_refresh_token")}
            let response = await fetch('download-history-request', { method: 'POST', headers: {'Content-Type': 'application/json;charset=utf-8'},body: JSON.stringify(data)});
        }
        document.getElementById('downloadhistory').setAttribute('href','static/excel_history/requesthistory.xlsx');
	}
}

async function resp() {
    let data = {
        "access_token": get_cookie("montesume_access_token"),
        "refresh_token": get_cookie("montesume_refresh_token")
    };
    const resp = new Response('POST', '', {'Content-Type': 'application/json;charset=utf-8'}, data, JSON.stringify(data), 'info-lk');
    resp.UserInfo();
}
resp();

//функция для установки значения cookie по имени
function setCookie(name, value, options = {}) {
    let updatedCookie = encodeURIComponent(name) + "=" + encodeURIComponent(value);
    document.cookie = updatedCookie;
}

//функция для получения куки по имени
function get_cookie(cookie_name) {
    var results = document.cookie.match ( '(^|;) ?' + cookie_name + '=([^;]*)(;|$)' );
    if (results) return ( unescape ( results[2] ) );
    else return null;
}

//функция для удаления cookie
function delete_cookie(cookie_name) {
    var cookie_date = new Date ();  // Текущая дата и время
    cookie_date.setTime (cookie_date.getTime() - 1);
    document.cookie = cookie_name += "=; expires=" + cookie_date.toGMTString();
}

//функция для осуществления выхода пользователя из аккаунта
function Exit() {
    delete_cookie ("montesume_access_token");
    delete_cookie ("montesume_refresh_token");
    window.location.href = 'http://b92599ho.beget.tech/';
}

//функция для перенаправления пользователя на страницу изменения информации
function ChangeInformation() {
    window.location.href = 'changing';
}

function DownloadHistory() {
    let data = {
        "access_token": get_cookie("montesume_access_token"),
        "refresh_token": get_cookie("montesume_refresh_token")
    };
    const resp = new Response('POST', '', {'Content-Type': 'application/json;charset=utf-8'}, data, JSON.stringify(data), 'info-lk');
    resp.SendFile();
}

var showing = false;
async function WriteHistory() {
    let data = {
        "access_token": get_cookie("montesume_access_token"),
        "refresh_token": get_cookie("montesume_refresh_token")
    };
    const resp = new Response('POST', '', {'Content-Type': 'application/json;charset=utf-8'}, data, JSON.stringify(data), 'show-history-request');
    resp.ShowHistory();
}

async function ClearHistory() {
    let data = {
        "access_token": get_cookie("montesume_access_token"),
        "refresh_token": get_cookie("montesume_refresh_token")
    };
    const resp = new Response('POST', '', {'Content-Type': 'application/json;charset=utf-8'}, data, JSON.stringify(data), 'delete-history-request');
    resp.OnClear();

    location.reload();
}

//функция для скрытия истории запросов
function HideHistory() {
    showing = false;
    document.getElementById('show_history').setAttribute('onclick','WriteHistory()');
    document.getElementById('show_history').innerHTML = 'Показать';
    var tbody = document.getElementById('table_history').getElementsByTagName("TBODY")[0];
    tbody.remove();
}

//функция для отображения истории запросов
function ShowHistory(result) {
    showing = true;
    document.getElementById('show_history').setAttribute('onclick','HideHistory()');
    document.getElementById('show_history').innerHTML = 'Скрыть';

    var table = document.getElementById('table_history');
    var start = document.createElement("TBODY");
    table.appendChild(start);
    var tbody = document.getElementById('table_history').getElementsByTagName("TBODY")[0];
    var row = document.createElement("TR");
    row.classList.add("main");

    var td0= document.createElement("TH");td0.appendChild(document.createTextNode("Номер запроса"));
    var td1= document.createElement("TH");td1.appendChild(document.createTextNode("Номер Способа"));
    var td2 = document.createElement("TH");td2.appendChild(document.createTextNode("Бизнес, приквлекающий трафик"));
    var td3 = document.createElement("TH");td3.appendChild(document.createTextNode("Бизнес конкурентов"));
    var td4 = document.createElement("TH");td4.appendChild(document.createTextNode("Радиус окружностией"));
    var td5 = document.createElement("TH");td5.appendChild(document.createTextNode("Адреса зафиксированных точек"));
    var td6 = document.createElement("TH");td6.appendChild(document.createTextNode("Координаты зафиксированных точек"));
    var td7 = document.createElement("TH");td7.appendChild(document.createTextNode("Время сделанного запроса (UTC+3:00)"));
    row.appendChild(td0);row.appendChild(td1);row.appendChild(td2);row.appendChild(td3);row.appendChild(td4);row.appendChild(td5);row.appendChild(td6);row.appendChild(td7);
    tbody.appendChild(row);

    if (result != undefined) {
        for (let i = 0; i < Object.keys(result).length; i++) {
            var row = document.createElement("TR");
            row.classList.add("str");
            var td = document.createElement("TD");
            td.appendChild(document.createTextNode(i + 1));
            row.appendChild(td);
            var td = document.createElement("TD");
            td.appendChild(document.createTextNode(result[String(i + 1)]['md_number']));
            row.appendChild(td);
            var td = document.createElement("TD");
            td.appendChild(document.createTextNode(result[String(i + 1)]['your_business']));
            row.appendChild(td);
            var td = document.createElement("TD");
            td.appendChild(document.createTextNode(result[String(i + 1)]['conc_business']));
            row.appendChild(td);
            var td = document.createElement("TD");
            td.appendChild(document.createTextNode(result[String(i + 1)]['radius']));
            row.appendChild(td);
            var td = document.createElement("TD");
            td.appendChild(document.createTextNode(result[String(i + 1)]['stopped_points_adress']));
            row.appendChild(td);
            var td = document.createElement("TD");
            td.appendChild(document.createTextNode(result[String(i + 1)]['stopped_points_coords']));
            row.appendChild(td);
            var td = document.createElement("TD");
            td.appendChild(document.createTextNode(result[String(i + 1)]['time']));
            row.appendChild(td);

            tbody.appendChild(row);
        }
    }
}

async function SendMessage() {
    if (document.getElementById('FBname').value == '' ||
    document.getElementById('FBemail').value == '' ||
    document.getElementById('FBtext').value == '') {
        document.getElementById('message_text2').innerHTML = 'Нельзя оставлять все поля пустыми!';
        document.getElementById('message2').style['background-color'] = '#F86368';
    }
    else {
        let data = {
            "name": document.getElementById('FBname').value,
            "email": document.getElementById('FBemail').value,
            "text": document.getElementById('FBtext').value
        };
        const resp = new Response('POST', '', {'Content-Type': 'application/json;charset=utf-8'}, data, JSON.stringify(data), '/send-message');
        resp.SendMessage();
    }
}
</script>
</head>
    <body>
        <header>
            <a href="http://b92599ho.beget.tech/" style = "display: flex; text-decoration: none; color: black;">
                <p><img class = "logo" src="static/images/Montesume.png" width="70" height="70" ></p>
                <div class="SiteName"> <h1> Montesume </h1> </div>
            </a>
        </header>
        
        <div class = "full_lk">
            <div class = "lk">
                <div class="signin-signup">
                    <p class="titlee">Личный Кабинет</p>
                </div>
                <div class = "line"> </div>
                <div class = "userinfo">
                    <h1 class="name" id = "name">ФИО: </h1>
                    <h1 class="email" id = "email">Email: </h1>
                </div>
                <div class = buttons>
                    <button name="exit" class="btn exit"  onclick="Exit()">Выйти</button>
                    <button name="change" class="btn change"  onclick="ChangeInformation()">Изменить информацию</button>
                </div>
                <div class = "line"> </div>
                <h1 class="request_history">История Запросов</h1>
                <div class = "buttons">
                    <button name="show_history" id="show_history" class="btn show_history"  onclick="WriteHistory()">Показать</button>
                    <button name="clear_history" id="clear_history" class="btn clear_history"  onclick="ClearHistory()">Очистить историю</button>
                    <a style = "text-decoration: none;" id = "downloadhistory"><button class="btn download" >Скачать историю</button></a>
                </div>
            </div>
            <div class = "fast_menu">
                <p class = "fast_menu_title">Быстрый переход по способам</p>
                <p class = "chooses_tip">Нажмите на нужную карточку</p>
                <div class="cards">
        
                    <a class="wrap" href="sp1">
                        <div class="informBlock">
                            <h5 class = "mainText"> СПОСОБ 1 </h5>
                            <div class = "line2"></div>
                            <h5 class = "ThirdText"> Уровень: </h5>
                            <img class = "levelimg" src="static/images/sp1-level.png">
                        </div>
                    </a>
        
                    <a class="wrap" href="sp2">
                        <div class="informBlock">
                            <h5 class = "mainText"> СПОСОБ 2 </h5>
                            <div class = "line2"></div>
                            <h5 class = "ThirdText"> Уровень: </h5>
                            <img class = "levelimg" src="static/images/sp2-level.png">
                        </div>
                    </a>
                    
                    <a class="wrap" href="sp3">
                        <div class="informBlock">
                            <h5 class = "mainText"> СПОСОБ 3 </h5>
                            <div class = "line2"></div>
                            <h5 class = "ThirdText"> Уровень: </h5>
                            <img class = "levelimg" src="static/images/sp3-level.png">
                        </div>
                    </a>
                    
                    <a class="wrap" href="sp4">
                        <div class="informBlock">
                            <h5 class = "mainText"> СПОСОБ 4 </h5>
                            <div class = "line2"></div>
                            <h5 class = "ThirdText"> Уровень: </h5>
                            <img class = "levelimg" src="static/images/sp4-level.png">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
        <table id="table_history">
        </table>
        
        <div id = "message2"><p id = "message_text2"></p></div>
        <section class = "section_futor">
            <div class="container">
                <section class="page_section contact" id="contact">
                    <div class="contact_section">
                        <h2>Свяжитесь с нами!</h2>
                    </div>
                    <div class="form-inner">
                        <input type="text" class = "FBname" Id = "FBname" placeholder="ФИО">
                        <input type="email" class = "FBemail" Id = "FBemail" placeholder="Email">
                        <textarea placeholder="Сообщение..." Id = "FBtext" class = "FBtext" rows="10"></textarea>
                    </div>
                    <button class="FBbutton" onclick="SendMessage()">Отправить</button>
                    <div class = "icon_div">
                    	<ul class="icons">
                            <a href = "https://www.facebook.com/profile.php?id=100072329714850" target="_blank">
                                <li class="icon">
                                    <i class="fa fa-facebook"></i>
                                </li>
                            </a>
                            <a href = "https://www.twitter.com/montesume" target="_blank">
                                <li class="icon">
                                    <i class="fa fa-twitter"></i>
                                </li>
                            </a>
                            <a href = "https://www.instagram.com/montesume" target="_blank">
                                <li class="icon">
                                    <i class="fa fa-instagram"></i>
                                </li>
                            </a>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="container">
                <div class="footer_bottom"><span>IVR 2020-2022. Rakhmanov Danila</span> </div>
            </div>
        </section>
    </body>
</html>
